
/shop/shop/data
/shop_admin/shop_admin/data
# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen 
/ucenter/ucenter/data/logs
/ucenter_admin/ucenter_admin/data/logs
/shop/shop/data/logs
/shop/shop/data/cache
/shop/shop/data/cache
/shop_admin/shop_admin/data
/.idea
/shop_admin/nbproject/private/
/ucenter/nbproject/private/
/ucenter_admin/nbproject/private/
/paycenter/nbproject/private/
/paycenter_admin/nbproject/private/
/shop_admin/shop_admin/data/logs
/shop/vendor
/shop/shop/task/~cronjob.log
/shop/shop/task/~on_runing_scripts.log
/shop/shop/configs/paycenter_api.ini.php
/shop/shop/configs/shop_api.ini.php
/shop/shop/configs/ucenter_api.ini.php
/shop/shop/configs/db.ini.php
/paycenter/paycenter/configs/db.ini.php
/paycenter/paycenter/configs/paycenter_api.ini.php
/paycenter/paycenter/configs/shop_api.ini.php
/paycenter/paycenter/configs/ucenter_api.ini.php
/paycenter_admin/admin/configs/db.ini.php
/paycenter_admin/admin/configs/paycenter_api.ini.php
/paycenter_admin/admin/configs/shop_api.ini.php
/paycenter_admin/admin/configs/ucenter_api.ini.php
/shop_admin/shop_admin/configs/db.ini.php
/shop_admin/shop_admin/configs/paycenter_api.ini.php
/shop_admin/shop_admin/configs/shop_api.ini.php
/shop_admin/shop_admin/configs/ucenter_api.ini.php
/ucenter/ucenter/configs/db.ini.php
/ucenter/ucenter/configs/paycenter_api.ini.php
/ucenter/ucenter/configs/shop_api.ini.php
/ucenter/ucenter/configs/ucenter_api.ini.php
/ucenter_admin/ucenter_admin/configs/db.ini.php
/ucenter_admin/ucenter_admin/configs/paycenter_api.ini.php
/ucenter_admin/ucenter_admin/configs/shop_api.ini.php
/ucenter_admin/ucenter_admin/configs/ucenter_api.ini.php
/paycenter/paycenter/data/logs
/shop_wap/configs/config.php
/paycenter_admin/admin/data/logs
/paycenter/messages/en_US/app.js
/paycenter/messages/en_US/app.php
/paycenter/messages/zh_CN/app.js
/paycenter/messages/zh_CN/app.php
/paycenter_admin/messages/en_US/app.js
/paycenter_admin/messages/en_US/app.php
/paycenter_admin/messages/zh_CN/app.php
/paycenter_admin/messages/zh_CN/app.js
/shop/messages/en_US/app.js
/shop/messages/en_US/app.php
/shop/messages/zh_CN/app.php
/shop/messages/zh_CN/app.js
/shop/messages/zh_TW/app.php
/shop/messages/zh_TW/app.js
/shop_admin/messages/en_US/app.php
/shop_admin/messages/en_US/app.js
/shop_admin/messages/zh_CN/app.js
/shop_admin/messages/zh_CN/app.php
/shop_wap/messages/en_US/app.js
/shop_wap/messages/en_US/app.php
/shop_wap/messages/zh_CN/app.php
/shop_wap/messages/zh_CN/app.js
/ucenter/messages/en_US/app.php
/ucenter/messages/en_US/app.js
/ucenter/messages/zh_CN/app.js
/ucenter/messages/zh_CN/app.php
/ucenter_admin/messages/en_US/app.js
/ucenter_admin/messages/en_US/app.php
/ucenter_admin/messages/zh_CN/app.js
/ucenter_admin/messages/zh_CN/app.php
/ucenter_admin/messages
/paycenter/messages
/paycenter_admin/messages
/shop/messages
/shop_admin/messages
/shop_wap/messages
/ucenter/messages
/seller/nbproject/private/
/seller/configs/paycenter.php
/seller/configs/shop.php
/seller/configs/ucenter.php
/shop/shop/configs/db.ini.php
/shop/shop/configs/shop_api.ini.php
/shop/shop/configs/ucenter_api.ini.php
/shop/shop/configs/global_4243076f78d317e5983b685ee6145407.ini.php
/shop/shop/configs/im_api.ini.php
/shop/shop/configs/paycenter_api.ini.php
/shop_admin/shop_admin/configs/shop_api.ini.php
/shop_admin/shop_admin/configs/ucenter_api.ini.php
/shop_admin/shop_admin/configs/db.ini.php
/shop_admin/shop_admin/configs/paycenter_api.ini.php
/shop/jpush.log
/shop/changelog/crop.php
/shop/ioncube/
/shop/min/
cache
ioncube
cache
/shop/shop/configs/global_d3aabd05be45670d48e2685d1e1f5992.ini.php
/shop/shop/configs/im_api_d3aabd05be45670d48e2685d1e1f5992.ini.php
cache



ioncube
cache
cache
im_api_d3aabd05be45670d48e2685d1e1f5992.ini.php
global_d3aabd05be45670d48e2685d1e1f5992.ini.php
