@charset "utf-8";
.m-box{ margin: 0 auto;background:rgba(255,255,255,1);}
.m-box .list{ width: 100%; }
.m-box .list ul li{ width: 100%;border-bottom: 5px solid #eeee; }
.m-box .list ul li .box{ width: 100%; position: relative;}
.m-box .list ul li .box .check,.foot .check{ width: 0.77272rem; height:0.77272rem; border-radius: 50%; border:1px solid rgba(228,228,228,1); position: absolute; left: 0.863636rem; top: 50%; margin-top: -10px;   }
.m-box .list ul li .box .check.action,.foot .check.action{ background: url(../images/check_on.jpg)no-repeat center center; background-size:auto 100%; border: none;  }
.m-box .list ul li .box .img{ margin:0.409rem 0.409rem;float: left;width: 3.81818rem;height: 3.81818rem;margin-left: 1.7rem; }
.m-box .list ul li .box .img img{width: 3.81818rem;height: 3.81818rem; }
.m-box .list ul li .box .info{ padding-left: 5rem; }
.m-box .list ul li .box .info .title{ font-size:0.63636rem;font-family:PingFangSC-Medium,PingFang SC;font-weight:500;color:rgba(74,74,74,1);  box-sizing: border-box;height: 32px;font-size: 13px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-break: break-all;color: #232326;margin-top: 5px;line-height: 17px;margin-bottom: 1.5rem;padding: 0 6px; }
.m-box .list ul li .box .m-num{font-size:0.72727rem;font-family:PingFangSC-Medium,PingFang SC;font-weight:500;color:rgba(240,47,34,1);padding-left: 0.681rem;}
.m-box .list ul li .box .price{ position: relative;margin-right: 0.863636rem;top: 50%; margin-top:-2.39363636rem;font-size: 0.65181rem;width:2.72727rem;color: rgba(240,47,34,1);;line-height: 1.27272rem;text-align:center;height:1.27272rem;background:rgba(255,255,255,1);border-radius:0.636363rem;border:1px solid rgba(240,47,34,1);}
.m-box .box_title{margin: auto;display: flex;justify-content: space-between;border-bottom:1px solid rgba(241,241,241,1);}
.m-box .box_title a{padding-right: 0.5rem;font-size: 0.545454rem;font-family: PingFangSC-Regular,PingFang SC;font-weight: 400;color: rgba(232,112,127,1);margin-top: 0.681818rem;margin-bottom: 0.681818rem;}
.quan{display: block;width: 60%;margin-left: 0.6818rem;}
.xia,.add-goods{display: block;width: 30%;text-align: right;}
.tui{display: block;width: 10%;text-align: right;margin-right: 0.6818rem;}
.foot{ width: 100%; background: #F2F2F2;  position: fixed; }
.foot .all-check{ padding-left: 20px;  width: 60px; float: left; }



/*整合*/
.main_heard {
				width: 100%;
				height: 8.1854545454rem;
			}

			.lode {
				width: 16.181818rem;
				height: 6.95454545rem;
				margin: auto;
				position: relative;
				z-index: 10;
				top: -3.86363636rem;
			}

			.lode img {
				width: 100%;
				height: 100%;
			}

			.main {
				background: rgba(255, 255, 255, 1);
				border-radius: 9px;
				position: relative;
				top: -3.409090rem;
			}

			.fl {
				font-size: 14px;
				padding: 0.568181rem;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: rgba(0, 0, 0, 1);
				display: block;
				position: relative;
				top: 50%;
				/*偏移*/
				margin-top: 0.2rem;
			}

			.fr {
				padding: 0.568181rem;
			}
			.relative{
				margin: 0.19rem;
			}

			.relative img {
				width: 4.718181rem;
				height: 4.718181rem;
			}

			.relatives {
				background: rgba(255, 255, 255, 1);
				border-radius: 4px;
				margin-top: 0.45454545rem;
			}
			.tit{
				margin: .26rem auto 0;
			    width: 4.5rem;
			    height: 0.7rem;
			    line-height: .68rem;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    display: -webkit-box;
			    -webkit-line-clamp: 1;
			    -webkit-box-orient: vertical;
			    white-space: normal;
			}

			.relatives img {
				width: 7.609090rem;
				height: 7.609090rem;
				border-top-right-radius: 4px;
				border-top-left-radius: 4px;
			}
             .tits{
             	width: 6.9rem;
                margin: .26rem auto 0;
                height: 1.32rem;
               /* font-size: .52rem; */
                line-height: .68rem;
               /* font-weight: bold; */
                overflow: hidden;
                text-overflow: ellipsis;
                 display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                white-space: normal;
             }
			.red {
				color: rgba(238, 46, 35, 1);
				/*margin-bottom: 0.6818181rem;*/
			}

			.order-status {
				margin-top: 0.454545rem;
			}

			.fle {
				display: flex;
				flex-flow: row wrap;
				justify-content:flex-start;
			}

			.main_one {
				position: relative;
				top: -5.409090rem;
			}

			.gen {
				font-size: 0.545454rem;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: rgba(155, 155, 155, 1);
			}

			.account-bg {
				margin-right: 30rpx;
				width: 2.27272727rem;
				height: 2.27272727rem;
				border-radius: 100%;
				border: 1px solid rgba(255, 255, 255, 0.2);

			}

			.head {
				padding-top: 0.68181rem;
				margin-left: 0.68181rem;
				display: flex;
				justify-content: start;
			}

			.heaer_name {
				width: 6rem;
				padding-left:0.4rem; 
				display: flex;
				justify-content: center;
				flex-direction: column;
				font-size: 0.727272rem;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: rgba(255, 255, 255, 1);

			}
			.header_in{
				width: 60%;
			}

			.header_in a {
				margin-left: 0.727272rem;
				padding: 0.181818rem;
				padding-left: 0.45454545rem;
				padding-right: 0.45454545rem;
				border-radius: 0.59090909rem;
				border: 1px solid rgba(255, 255, 255, 1);
				font-size: 0.56818181rem;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: rgba(255, 255, 255, 1);
			}

			.header_in .nu {
				margin-left: 2.727272rem;
			}

			.deng {
				float: right;
				padding-right: 0.681818rem;
				font-size: 0.636363rem;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: rgba(255, 255, 255, 1);
				position: relative;
				top: -0.227272rem;
			}
			.fleu{
				display: flex;
                flex-flow: wrap;
                justify-content: space-between;
			}
			.order-status{
		       margin-top: 0.454545rem;
               width: 95%;
                margin: auto;
                padding: 0.3rem;
			}
			.cumb{
				margin-bottom: 0.6818181rem;
			}

			.clearfix li {
				width: 25%;
				float: left;
				font-size: 0.545454rem;
				font-family: PingFangSC-Regular, PingFang SC;
				font-weight: 400;
				color: rgba(136, 136, 136, 1);
				text-align: center;
			}
			#footer{
				z-index: 999;
			    font-size: 0;
			    background: #fff;
			    position: fixed;
			    left: 0;
			    bottom: 0;
			    width: 100%;
			    margin-top: 0.83333rem;
			    min-height: 2.454545rem;
			    box-shadow: 0 0.83333rem 1.66667rem #000;
			}
			/*底部*/
			#footer ul li h3{font-size:0.5rem;color:#888;line-height:1.2rem;}
			#footer ul li i.icon{width:1rem;height:1rem;display:inline-block;margin-top:0.25rem;}
			#footer ul li i.icon.footer-first {
			  background: url(../../images/店铺1.png) no-repeat center;
			  background-size: contain;
			}
			
			#footer ul li i.icon.footer-classify {
			  background: url(../../images/红包.png) no-repeat center;
			  background-size: contain;
			}
			
			#footer ul li i.icon.footer-find {
			  background: url(../../images/联系人群组.png) no-repeat center;
			  background-size: 96%;
			}
			
			#footer ul li i.icon.footer-cart {
			  background: url(../../images/个人.png) no-repeat center;
			  background-size: contain;
			}
			
			#footer ul li i.icon.footer-myMan {
			  background: url(../../images/new/icon-mine.png) no-repeat center;
			  background-size: contain;
			}
			
			
			
			#footer ul li.active i.icon.footer-first {
			  background: url(img/店铺1.png) no-repeat center;
			  background-size: contain;
			}
			
			#footer ul li.active i.icon.footer-classify {
			  background: url(../../images/new/icon-class-active.png) no-repeat center;
			  background-size: contain;
			}
			
			#footer ul li.active i.icon.footer-find {
			  background: url(../../images/new/icon-xf-active.png) no-repeat center;
			  background-size: contain;
			}
			
			#footer ul li.active i.icon.footer-cart {
			  background: url(../../images/new/icon-cart-active.png) no-repeat center;
			  background-size: contain;
			}
			
			#footer ul li.active i.icon.footer-myMan {
			  background: url(../../images/new/icon-mine-active.png) no-repeat center;
			  background-size: contain;
			}
			
			#footer ul li b{display:none;position: absolute;top: 0.2rem;right: 0.9rem;background: #fe244b;border-radius: 50%;padding: 0.14rem;}
			/* #footer ul li b.active{display:inline-block;} */
			#footer ul li.active h3{color:#fd3d53;}		




/*111*/
.distribution-tit{
	font-size: 0.636363rem;
	margin: .26rem 0.2rem 0;
    line-height: .8rem;
    height:1.6rem;
    text-align:left;
}
.distribution-recommend-list a{
	width:4.7rem;
}
.distribution-hot-list a{
	width:7.609090rem;
}



