@charset "utf-8";
/* 触屏版商品分类样式类型				*/
/*商品分类*/
.categroy-cnt { width: 4.545rem;display: block; float: left; position: fixed; z-index:5; top: 2rem; bottom:2.4rem; left: 0;background:#fff;overflow-y: auto;
    background: #fff;-webkit-overflow-scrolling: touch;}

/*分类一级导航*/
.categroy-list {position: absolute;width:100%; }
.category-item { width:100%;}
.category-item-a { display: block; }
.ci-fcategory-ico { width: 1rem; height: 1rem; padding: 0.45rem 0 0.25rem 0; margin: 0 auto; }
.ci-fcategory-ico img { display: block; vertical-align: top; width: 100%; filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */ -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: gray;}
.ci-fcategory-name { font-size: 0.6rem; line-height: 2rem; color: #222; text-align: center; width: 100%; border-bottom: solid 0.05rem #EEE;}
.category-item.selected .ci-fcategory-ico img { -webkit-filter: grayscale(0); -moz-filter: grayscale(0); -ms-filter: grayscale(0); -o-filter: grayscale(0); filter: grayscale(0); filter: gray; }
.category-item.selected .ci-fcategory-name { color: #ED5564;border-left: solid 0.1rem #ED5564; }
.categroy-third-list { display: none; color: #666; border-bottom: 1px solid #ccc; box-shadow: 0 -2px 0 #e4e4e4 inset;/*border-top:2px solid #e4e4e4;*/ background: #f5f5f5; }
.categroy-third-list li { border-bottom: 1px solid #dddddd; }
.categroy-third-list a { color: #6d6d6d; display: block; padding: 15px 0px 15px 11px; }

/* 分类子级内容 */
.categroy-rgt {position: absolute; z-index: 1; left:4.545rem; top: 2.434rem; bottom:2.8rem; right: 0;padding-left:0.454rem;padding-right:0.454rem;
    -webkit-overflow-scrolling: touch;overflow:auto;}
.categroy-child-list {/* position:absolute;*/ font-size: 0;}
.categroy-child-list dt { background-color: #f2f2f2;}
.categroy-child-list dt a {position:relative; display: block;font-size: 0.545rem; line-height:1.6rem;height:1.6rem; color: #6d6d6d;text-align:center;}
.categroy-child-list dt a:after{content:"";border-bottom:1px solid #ddd;position:absolute;left:15%;right:15%;top:45%;}
.categroy-child-list dt a span{display:inline-block;position:relative;z-index:2; padding:0 0.652rem;background:#f2f2f2;}
.categroy-child-list dd {display: inline-block;padding:0 0.454rem 0.681rem; width:100%;box-sizing:border-box; font-size:0;vertical-align: top; background:#fff;}
.categroy-child-list dd a { display: inline-block;vertical-align: top;margin: 0.681rem 0 0 0;width:33.33%;color: #333; text-align:center; }
.categroy-child-list dd a .img-box{display:inline-block;width:2.727rem;height:2.727rem;overflow:hidden;}
.categroy-child-list dd img { max-width: 100%;max-height:100%;}
.categroy-child-list dd p {margin-top:0.681rem; font-size: 0.5rem;white-space: nowrap; text-overflow: ellipsis; text-align: center; overflow: hidden;}

/*商品列表头部特征*/
.nctouch-product-header .header-inp {}
.nctouch-product-header .header-inp { margin: 0.275rem 3.8rem 0 2rem;}
.nctouch-product-header .header-inp .search-input { width: 7.5rem; color: #333;}
.nctouch-product-header .header-r a { padding: 0.5rem 0.6rem 0.5rem 0.2rem;}
.nctouch-product-header .header-r a.categroy { width: 0.975rem; height: 1.575rem; padding: 0.2rem 0.5rem 0.2rem 0.3rem;}
.nctouch-product-header .header-r a.categroy i { width: 100%; height: 1rem; background-image: url(../images/stiore_categroy_b.png); background-repeat: no-repeat; background-position: 50% 50%; background-size: 70%; opacity: 0.65;}
.nctouch-product-header .header-r a.categroy p {display: block; font-size: 0.45rem; line-height: 0.575rem; text-align: center; color: #555; }

.categroy-loading{left:4.454rem !important;}



/* 黄页商城 */
.zk-hy-module{
	padding-top:1.11rem;
}
.zk-hy-store-dl{
	padding:0 0.681rem;
}
.zk-hy-store-dl dt{
	margin-bottom:0.954rem;
	font-size:0.863rem;
	color:#000;
}
.zk-hy-store-dl dd li{
	float:left;
	margin-bottom: 1.363rem;
	width:20%;
	text-align:center;
}
.zk-hy-store-dl dd .img-box{
	position:relative;
	display:inline-block;
	width:1.136rem;
	height:1.136rem;
	overflow:hidden;
}

.zk-hy-store-dl dd span{
	font-size:0.545rem;
	color:#333;
}



/* 签到 */
.zk-sign-head{
	display:inline-block;
	padding:0.772rem 0.681rem 0.454rem;
	width:100%;
	height:11.204rem;
	background:url(../images/zk/sign-head-bg.png) no-repeat center;
	background-size:cover;
	box-sizing:border-box;
}
@media (max-width:360px){
	.zk-sign-head{
		padding-left:0.5rem;
		padding-right:0.5rem;
	}
}
.zk-sign-head .fl p{
	margin-bottom:0.2rem;
}
.zk-sign-head .fl span b,.zk-sign-head .fl span em,.zk-sign-head .fl strong{
	color:#fff;
	vertical-align:middle;
}
.zk-sign-head .fl span em{
	display:inline-block;
	margin-right:0.454rem;
	font-size:0.75rem;
}
.zk-sign-head .fl span i{
	display:inline-block;
	width:1.227rem;
	height:1.136rem;
	vertical-align:middle;
}
.zk-sign-head .fl span i.zk-jf{
	background:url(../images/zk/zk-jf.png) no-repeat center;
	background-size:contain;
}
.zk-sign-head .fl span i.zk-jb{
	background:url(../images/zk/zk-jb.png) no-repeat center;
	background-size:contain;
}
.zk-sign-head .fl span strong{
	margin-left:0.795rem;
	font-size:0.886rem;
}
.zk-sign-head .fl span b{
	margin-left: 0.3rem;
}
.zk-sign-head .zk-level-sign{
	display:inline-block;
	margin-top:0.9rem;
	width:4.045rem;
	height:1.409rem;
	line-height:1.409rem;
	background:#F22E39;
	box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.1);
	border-radius:0.227rem;
	font-size:0.75rem;
	color:#fff;
	text-align:center;
}
.zk-level-sign.active{
	background:#2A2A2A;
	color:#F0FF00;
}
.zk-sign-days{
	margin-left: 0.454rem;
	margin-bottom: 0.6rem;
	margin-top: 0.7rem;
	font-size: 0.59rem;
	color: #fff;
}
.zk-sign-days b{
	color:#F6FF00;
}
.zk-sign-det-ul li{
	position:relative;
	display:inline-block;
	margin-right:0.454rem;
	text-align:center;
	font-size:0;
}
.zk-sign-det-ul li:last-child{
	margin-right:0;
}
.zk-sign-det-ul li span{
	display:inline-block;
	width:1.727rem;
	height:2.159rem;
	background:url(../images/zk/sign-li.png) no-repeat center;
	background-size:contain;
	font-size:0.636rem;
	color:#999;
}
.zk-sign-det-ul li.active span{
	background:url(../images/zk/sign-li-active.png) no-repeat center;
	background-size:cover;
	color:#fff;
}
.zk-sign-det-ul li em{
	margin-top:-0.2rem;
	font-size:0.545rem;
	color:#444;
}
.zk-sign-det-ul li.active em{
	color:#F32A2A;
}
.zk-sign-det-ul li span.color{
	color:#FF7800;
}
.zk-sign-det-ul li b{
	display: none;
	width: 0.545rem;
	height: 0.568rem;
	background: url(../images/zk/sign-yes.png) no-repeat center;
	background-size: contain;
	position: absolute;
	top: -0.2rem;
	right: -0.1rem;
}
.zk-sign-det-ul li.signed b{
	display:inline-block;
}
.btn-sign-get{
	display:inline-block;
	margin-top:0.454rem;
	width:5.454rem;
	height:1.363rem;
	line-height:1.363rem;
	background:rgba(255,255,255,.8);
	border-radius:0.681rem;
	font-size:0.727rem;
	color:#FF7800;
	text-align:center;
	border:0;
}
.zk-module-tit{
	padding:0.863rem 0.681rem;
}
.zk-module-tit span{
	padding-left:0.454rem;
	font-size:0.818rem;
	color:#333;
	border-left:0.181rem solid #FF7800;
}
.zk-module-tit em{
	font-size:0.681rem;
	color:#999;
}
.zk-module-tit .iconfont{
	font-size:1rem;
	color:#999;
	vertical-align:middle;
}
.zk-voucher-items{
	margin-bottom: 1.136rem;
}
.zk-voucher-items li{
	float: left;
	width: 50%;
	height: 3.545rem;
	box-sizing: border-box;
	padding:0.9rem 1rem 0 1.181rem;
	font-size: 0;
}
.zk-voucher-items li:nth-child(1){
	background:url(../images/zk/sign-v1.png) no-repeat center;
	background-size:contain;
}
.zk-voucher-items li:nth-child(2){
	background:url(../images/zk/sign-v2.png) no-repeat center;
	background-size:contain;
}
.zk-voucher-items li:nth-child(3){
	background:url(../images/zk/sign-v3.png) no-repeat center;
	background-size:contain;
}
.zk-voucher-items li:nth-child(4){
	background:url(../images/zk/sign-v4.png) no-repeat center;
	background-size:contain;
}
.zk-voucher-items li:nth-child(1) span.fl b,.zk-voucher-items li:nth-child(1) span.fl strong{
	font-size:0.681rem;
	color:#EF3356;
}
.zk-voucher-items li:nth-child(2) span.fl b,.zk-voucher-items li:nth-child(2) span.fl strong{
	font-size:0.681rem;
	color:#F97D39;
}
.zk-voucher-items li:nth-child(3) span.fl b,.zk-voucher-items li:nth-child(3) span.fl strong{
	font-size:0.681rem;
	color:#64C5AC;
}
.zk-voucher-items li:nth-child(4) span.fl b,.zk-voucher-items li:nth-child(4) span.fl strong{
	font-size:0.681rem;
	color:#65BAE1;
}

.zk-voucher-items li span.fl strong{
	font-weight:bold;
}
.zk-voucher-items li span.fr{
	font-size:0.681rem;
	color:#FFFEFE;
}
.sign-jb-exchange-nav{
	display:flex;
	justify-content:space-between;
	padding:0.454rem 0.681rem;
}
.sign-jb-exchange-nav li{
	display:inline-block;
}
.sign-jb-exchange-nav li span{
	display:inline-block;
	min-width:3.4rem;
	height:1.363rem;
	line-height:1.363rem;
	font-size:0.772rem;
	color:#666;
	border:1px solid #666;
	text-align:center;
	border-radius:0.09rem;
}
.sign-jb-exchange-nav li.active span{
	background:#FF7800;
	color:#fff;
	border-color:transparent;
}
.sign-jb-exchange-items li{
	position:relative;
	margin-bottom:0.568rem;
	padding:0.681rem;
	background:#fff;
	box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.06);
}
.sign-jb-exchange-content{
	padding-left:5.295rem;
	font-size:0;
	min-height:3.95rem;
}
.sign-jb-exchange-content h4{
	margin-bottom:0.454rem;
}
.sign-jb-exchange-content h4 a{
	font-size:0.727rem;
	color:#333;
}
.sign-jb-exchange-content .sign-goods-ty a{
	font-size:0.681rem;
	color:#666;
}
.btn-zk-exchange{
	display:inline-block;
	margin-top:0.522rem;
	width:3.181rem;
	height:1.136rem;
	line-height:1.136rem;
	background:#FF7800;
	font-size:0.681rem;
	color:#fff;
	text-align:center;
	border-radius:0.568rem;
}
.sign-jb-exchange-items .img-box{
	position:absolute;
	left:0.681rem;
	top:0.681rem;
	z-index:2;
	width:4.613rem;
	height:3.95rem;
	border-radius:0.09rem;
	overflow:hidden;
	box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}