.header-seckill .icon-menu{
	font-size:1rem;
	color:#333;
}

.seckill-drap{
	display:none;
	position:fixed;
	left:0;
	top:2rem;
	z-index:8;
	padding:0.454rem;
	width:100%;
	text-align:center;
	box-sizing:border-box;
	background:#ececec;
}
.seckill-drap li{
	display:inline-block;
	padding:0.227rem 0.454rem;
	margin-right:0.454rem;
	margin-bottom:0.454rem;
	min-width:2rem;
	text-align:center;
	font-size:0.454rem;
	background:#fff;
	border-radius:0.6rem;
}
.seckill-drap li a{
	color:#333;
}


.seckill-swiper{
	padding:0.272rem;
	box-sizing:border-box;
	text-align:center;
}
.seckill-swiper li strong{
	font-size:0.818rem;	
}
.seckill-swiper li span{
	display:block;
	margin-top:0.1rem;
	font-size:0.545rem;
}
.seckill-swiper li strong,.seckill-swiper li span{
	color:#666;
}
.seckill-swiper li.active strong,.seckill-swiper li.active span{
	color:#fd3d53;
}
.seckill-nav{
	position:fixed;
	left:0;
	top:1.95rem;
	z-index:2;
	width:100%;
	background:#fff;
}

/*秒杀列表*/
.seckill-lists{
	padding-top: 0.45rem;
	margin-top: 4.3rem;
}
.seckill-lists li{
	position:relative;
	padding:0.454rem;
	margin-bottom:0.454rem;
	height:4.772rem;
	background:#fff; 
}
.seckill-lists li .img-box{
	display:inline-block;
	position:absolute;
	left:0.454rem;
	top:0.454rem;
	width:4.772rem;
	height:4.772rem;
	background:#eee;
	overflow:hidden;
}
.seckill-lists li .img-box img{
	width:100%;
}
.seckill-item-content{
	padding-left:5.227rem;
}
.seckill-item-content{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	height:100%;

}
.seckill-name{
	font-size:0.681rem;
	color:#222;
}
.seckill-rel-text strong{
	margin-right:0.454rem;
	font-size:0.818rem;
	color:#e02222;
}
.seckill-rel-text strong i,.seckill-rel-text .origin-pri i{
	font-size:0.545rem;
}
.seckill-rel-text .origin-pri{
	font-size:0.681rem;	
}
.seckill-rel-text .origin-pri,.had-sold{
	color:#bcbcbc;
}
.seckill-market{
	margin-top:0.227rem;
	font-size:0;
}
.seckill-market .had-sold{
	font-size:0.545rem;	
}
.seckill-market .had-sold,.had-sold-progress{
	display:inline-block;
	vertical-align:top;
}
.had-sold-progress{
	margin-top:0.227rem;
	margin-left:0.454rem;
	width:3.477rem;
	height:0.318rem;
	background:#e7e7e7;
	border-radius:0.4rem;
}

.had-sold-progress b{
	display:inline-block;
	height:0.318rem;
	border-radius:0.4rem;
	background:#fd3d53;
	vertical-align:top;
}
.btn-seckill{
	display:inline-block;
	position:absolute;
	right:0.454rem;
	bottom:0.454rem;
	width:3.5rem;
	height:1.318rem;
	line-height:1.318rem;
	background:#fd3d53;
	font-size:0.681rem;
	color:#fff;
	text-align:center;
}
.begin-minute .btn-seckill{
	background:#989898;
}