body{background:#f4f4f4;}
.table{display:table;}
.table-cell{display:table-cell;vertical-align:middle;}
.hide{display:none;}
.plus-header-nav{
	position:fixed;
	left:0;
	top:38px;
	z-index:10;
	width:100%;
	background:rgba(67,62,54,0.53);
	height:70px;
}
.plus-header-nav.active{
	top:0;
	box-shadow: 0 5px 18px rgba(0,0,0,.1);
}
.plus-header-nav .fl{
	line-height:70px;
}
.plus-header-nav .fl span{
	font-size:24px;
	color: #D79F42;
}
.plus-header-nav .fl .iconfont{
	font-size:24px;
	
	color:#A58249;
}
.plus-header-bgf .fl .iconfont{
	color: #D79F42;
}
.plus-header-nav .fr em{
	display:inline-block;
	margin:36px 12px 0;
	padding:0 10px 10px;
	font-size: 16px;

	color:#fff;
	border-bottom:2px solid transparent;
	cursor:pointer;
	vertical-align:bottom;
}
.plus-header-nav .fr em.active{
	padding-bottom:7px;
	margin-bottom:-1px;
	color: #DAAA5B;
	border-color:#DAAA5B;
}
.plus-header-li{
	display:none;
	padding-top:70px;
	width:100%;
	height:583px;
	background-size:cover;
	text-align:center;
	box-sizing:border-box;
}
.plus-header-li.active{
	display:block;
}
.plus-index-module{
	background:url(../images/plus/banner-bg1.png) no-repeat center;
}
.plus-member-module{
	background:url(../images/plus/banner-bg2.png) no-repeat center;
}
.plus-index-module strong{
	display:block;
	padding-top:33px;
	margin-bottom:62px;
	font-size: 44px;
	font-weight:normal;
	color: #DADADA;
	text-shadow: 0 0 4px rgba(0,0,0,0.50);
}
.plus-index-module ul li{
	position:relative;
	display:inline-block;
	margin-right:113px;
}
.plus-index-module ul li:last-child{
	margin-right:0;
}
.plus-index-module ul li:hover .plus-power-tips{
	display:inline-block;
}
.plus-index-module ul li:hover em{
	color:#FACF88;
}
.plus-index-module ul li em{
	display:block;
	margin-top:18px;
	font-size:20px;
	color:#DAAA5B;
}
.plus-index-module ul li i.iconfont{
	font-size:54px;
	color:#D79F42;
}
.plus-index-module ul li .plus-power-tips{
	display:none;
	position:absolute;
	top:116px;
	left:60%;
	padding:10px;
	width:290px;
	background: rgba(65,50,26,0.49);
	border: 1px solid #937139;
	border-radius: 4px;
	box-sizing:border-box;
	margin-left:-145px;
	text-align:left;
}
.plus-power-tips:before{
	content:"";
	display:inline-block;
	width:8px;
	height:8px;
	border-left:1px solid #937139;
	border-top:1px solid #937139;
	position:absolute;
	top:-5px;
	left:45%;
	transform:rotate(46deg);
	-ms-transform:rotate(46deg); 	/* IE 9 */
	-moz-transform:rotate(46deg); 	/* Firefox */
	-webkit-transform:rotate(46deg); /* Safari 和 Chrome */
	-o-transform:rotate(46deg);
	background:rgba(65,50,26,1);
}
.plus-power-tips span{
	font-size: 14px;
	color: #D5B175;
}
.plus-btn{
	margin-top:67px;
}
.plus-btn a{
	display: inline-block;
    width: 378px;
    height: 70px;
    line-height: 70px;
    box-sizing: border-box;
    font-size: 24px;
    text-align: center;
    border-radius: 48.5px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.50);
}
.plus-btn a.btn-plus-open{
	margin-right:132px;
	color: #262522;
	background:#e0b44f;
	border:1px solid transparent;
}
.plus-btn a.btn-plus-open:hover{
	background-color:#F0B759;
}
.plus-btn a.btn-plus-try{
	color: #DAAA5B;
	background: #41321A;
	border:1px solid #FFDCA3;
}
.plus-btn a.btn-plus-try:hover{
	border-color:#FFF2DD;
}
.plus-goods-header{
	padding-top:18px;
	margin-bottom:30px;
}
.plus-goods-header-tit{
	position:relative;
	display:inline-block;
}

.plus-goods-header-tit i.iconfont{
	display:block;
	font-size:36px;
	color: #D79F42;
}
.plus-goods-header-tit span{
	position:relative;
	z-index:2;
	display:inline-block;
	padding:0 10px;
	font-size: 24px;
	color: #D79F42;
}
.plus-goods-header-tit span:before,.plus-goods-header-tit span:after{
	content:"";
	position:absolute;
	top:16px;
	width:104px;
	height:1px;
	background: #D79F42;
}
.plus-goods-header-tit span:before{
	left:-110px;
}
.plus-goods-header-tit span:after{
	right:-110px;
}
.plus-goods-more{
	display:inline-block;
	margin-top:46px;
	
	color: #4A4A4A;
}
.plus-goods-more em{
	font-size: 14px;
}
.plus-goods-more i{
	display:inline-block;
	vertical-align:middle;
}
.plus-goods-more .iconfont{
	font-size:20px;
}
.plus-goods-list{
	padding-bottom:50px;
}
.plus-goods-list li{
	display:inline-block;
	margin-right:13px;
	margin-bottom:10px;
	padding:5px;
	width:290px;
	background:#fff;
	box-sizing:border-box;
	transition:all 1s;
	border:1px solid transparent;
}
.plus-goods-list li:nth-child(4n){
	margin-right:0;
}
.plus-goods-list li:hover{
	border-color:#D79F42;
	box-shadow: 0 0 12px 0 rgba(0,0,0,0.14);
}
.plus-goods-list li em.img-box{
	position:relative;
	display:inline-block;
	width:280px;
	height:280px;
}
.plus-goods-list li img{
	position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    max-width: 100%;
    max-height: 100%;
    line-height: 100%;
}
.plus-goods-list li div{
	padding:20px 44px;
}
.plus-goods-list li div span{
	display:inline-block;
	margin-bottom:4px;
	font-size: 18px;
	color: #000000;
}
.plus-goods-list li div b{
	display:block;
	font-size: 14px;
	font-weight:normal;
	color: #4A4A4A;
}
.plus-goods-list li div p{
	position:relative;
	margin-top:16px;
	left:-14px;
	width:214px;
	height:31px;
	line-height:29px;
	background-image: linear-gradient(-270deg, #AB7620 2%, #F0C680 100%);
	border: 1px solid #CC963B;
	box-sizing:border-box;
}
.plus-goods-list li div p i{
	display:inline-block;
	width:14px;
	font-size:12px;
	height:100%;
	line-height: 30px;
	color:#EBBD72;
	background: #302C23;
	vertical-align:top;
	text-align:center;
}.plus-goods-list li div p em,.plus-goods-list li div p strong{
	vertical-align:top;
}
.plus-goods-list li div p em{
	display:inline-block;
	margin-left:7px;
	font-size: 14px;
	color: #835F24;
}
.plus-goods-list li div p strong{
	display:inline-block;
	margin-left:13px;
	font-weight:normal;
	font-size:16px;
	color: #FFFFFF;
}
.plus-alert{
	display:none;
	position:fixed;
	left:0;
	top:0;
	z-index:10;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.3);
}
.plus-alert.active{
	display:table;
}
.plus-alert-content{
	position:relative;
	display:inline-block;
	padding-top:223px;
	width:678px;
	height:635px;
	background:url(../images/plus/alert-bg.png) no-repeat center;
	box-sizing:border-box;
	background-size:80%;
}
.plus-alert-content strong{
	display: block;
	font-size:28px;
	color: #E12F36;
}
.plus-alert-content p{
	padding-left: 33px;
	margin-top:20px;
	font-size:18px;
	color: #3D2908;
}
.plus-alert-content em{
	display:block;
	margin-top:20px;
	font-size:16px;
	color: #93661C;
}
.plus-alert-close{
	position: absolute;
    right: 62px;
    top: 58px;
    display: inline-block;
    width: 40px;
    height: 40px;
    z-index:5;
}
.plus-search{
	display:inline-block;
	margin-top:195px;
	padding-left:27px;
	width:877px;
	height:50px;
	background: rgba(252,247,238,0.95);
	border: 1px solid #CD9E4F;
	border-radius: 34.5px;
	box-sizing:border-box;
	overflow:hidden;

}
.plus-search input[type="text"]{
	padding:14px 0;
	width:740px;
	font-size:14px;
	background:transparent;

}
.plus-search-input::-webkit-input-placeholder { /* WebKit browsers */ 
	color: #C9AB66; 
} 
.plus-search-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
	color:#C9AB66; 
} 
.plus-search-input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
	color:#C9AB66; 
} 
.plus-search-input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
	color: #C9AB66; 
} 
.plus-search a{
	display:inline-block;
	width:88px;
	height:100%;
	line-height:50px;
	background: #CD9E4F;
	text-align:center;
}
.plus-search a i{
	font-size:32px;
	color:#fff;
}
.plus-nodata{
	width:100%;
	height:843px;
}
.plus-nodata p{
	margin-top:45px;
	font-size: 24px;
	color: #9B9B9B;
}
.plus-page{
	margin-top:0;
	margin-bottom:24px;
	text-align:center;
}
.plus-page a{
	background:#fff;
	border:0;
}
.plus-page b{
	background: #DBAE63;
	border:0;
}

/*专场*/
.plus-header-bgf,.plus-header-bgf2{
	background:#fff !important;
}
.plus-header-bgf .fr em,.plus-header-bgf2 .fr em{
	color:#4a4a4a;
}
.plus-header-bgf2 .fl .iconfont{
	color: #D79F42;
}
.plus-use-module{
	margin-top:98px;
	padding:51px 0 30px 93px;
	width:1227px;
	height:487px;
	background:url(../images/plus/plus-bg.png) no-repeat center;
	box-sizing:border-box;
}
.plus-use-header{
	height:227px;
}
.plus-use-header .img-box{
	display:inline-block;
	width:130px;
	height:130px;
	background: rgba(142,142,147,0.80);
	border: 2px solid #FFE4AD;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.18);
	border-radius:100%;
	overflow:hidden;
}
.plus-use-header .img-box img{
	max-width:100%;
	max-height:100%;
}
.plus-use-header-text{
	display:inline-block;
	vertical-align:middle;
	margin-left:11px;
}
.plus-user-name{
	font-size: 24px;
	color: #FFFFFF;
}
.plus-status{
	display:inline-block;
	margin-left:4px;
	margin-top: 4px;
    vertical-align: middle;
	width:48px;
	height:20px;
	line-height:18px;
	background: #E94458;
	border: 1px solid #FFE5E8;
	font-size: 12px;
	font-weight:normal;
	color: #FFFFFF;
	text-align:center;
	box-sizing:border-box;
}
.plus-time{
	margin-top:10px;
	margin-bottom:10px;
	font-size: 14px;
	color: #4A4A4A;
}
.plus-time i{
	color:#fff;
}
.plus-time-progress{
	display:inline-block;
	width:248px;
	height:16px;
	background: #BF8D32;
	box-shadow: 0 0 11px 0 #A57B2D;
	border-radius: 13.5px;
	overflow:hidden;
}
.plus-time-progress b{
	display:inline-block;
	height:100%;
	background: #FFDF9B;
	border-radius: 12.5px;
}
.plus-use-operate{
	padding-top:11px;
}
.plus-use-operate-href .iconfont{
	display:inline-block;
	font-size:36px;
	vertical-align:top;
	color:#000000;
}
.plus-use-operate-href em{
	font-size: 26px;
	color: #242632;
}
.plus-use-operate-href{
	display:block;
	padding-top:38px;
	width:480px;
	height:108px;
	text-align:center;
	box-sizing:border-box;
}
.plus-operate-tips{
	margin-top:16px;
	font-size: 18px;
	color: #C69A25;
}
.plus-use-power .plus-use-tit{
	margin-top:28px;
	margin-bottom:22px;
	font-size: 24px;
	color: #E8C488;
	text-shadow: 0 0 4px rgba(0,0,0,0.50);
}
.plus-use-power{
	padding-right:100px;
}
.plus-use-power ul li{
	display:inline-block;
	width:20%;
	text-align:center;
}
.plus-use-power ul li i.iconfont{
	font-size: 42px;
	color:#D79F42;
}
.plus-use-power ul li span{
	display:block;
	font-size:16px;
	color:#DAAA5B;
}
.plus-formal-logo{
	display:inline-block;
	margin-top:10px;
	width:114px;
	height:24px;
	background:url(../images/plus/plus-formal-logo2.png) no-repeat left center;
	background-size:contain;
}
.plus-formal-time{
	color:#fff;
}
.plus-formal-buy{
	padding-bottom:10px;
	background: #EDE5D7;
}
.plus-formal-buy-tit{
	margin-top:70px;
	font-size: 20px;
	color: #FFFFFF;
	height:93px;
	line-height:93px;
	background: #C2B0A0 url(../images/plus/plus-head.png) no-repeat center;
}
.plus-formal-buy-content{
	position:relative;
	display:inline-block;
	padding:46px 40px 0 111px;
	width:100%;
	height:398px;
	background:#fff;
	box-sizing:border-box;
}
.plus-formal-buy-content img{
	position:absolute;
	left:111px;
	top:46px;
	max-width:427px;
	max-height:239px;
}
.plus-formal-buy-content-text{
	padding-left:489px;
	padding-top:26px;
	
}
.plus-formal-buy-content-text dl{
	margin-bottom:20px;
}
.plus-formal-buy-content-text dl dt,.plus-formal-buy-content-text dl dd{
	display:inline-block;
	font-size: 14px;
	color: #4A4A4A;
}
.plus-formal-buy-content-text dl dd{
	padding-left:12px;
}
.plus-formal-buy-content-text dl dd strong{
	font-weight:normal;
	color:#D0021B;
}.plus-formal-buy-tips{
	margin-bottom:28px;
}
.plus-formal-buy-tips .iconfont{
	display:inline-block;
	margin-right:5px;
	font-size:14px;
	color:#F5A623;
	vertical-align:middle;
}
.plus-formal-buy-tips em{
	display:inline-block;
	font-size: 14px;
	color: #9B9B9B;
	line-height: 26px;
	vertical-align:middle;
}
.plus-buy-btn{
	display:inline-block;
	width:227px;
	height:43px;
	line-height:43px;
	background: #B8A18C;
	border-radius: 21.5px;
	text-align:center;
	font-size: 14px;
	color: #FFF;
}
.plus-logo{
	display:inline-block;
	margin-top:30px;
	width:294px;
	height:28px;
	background:url(../images/plus/plus-logo.png) no-repeat center;
}
.plus-pay-agreement{
	display:inline-block;
	margin-top:18px;
	font-size: 14px;
	color: #968370;
	text-decoration:underline;
}
.plus-pay-agreement-content{
	display:inline-block;
	padding:30px 90px 144px;
	width:100%;
	min-height:930px;
	background:#fff;
	box-sizing:border-box;
}
.plus-pay-agreement-head{
	margin-bottom:30px;
	font-size: 18px;
	font-weight:700;
	color: #4A4A4A;
}
.agreement-tit{
	margin-top:40px;
	font-size: 18px;
	color: #4A4A4A;
}
.plus-pay-agreement-content p{
	font-size: 14px;
	color:#4a4a4a;
	line-height: 42px;
}
.plus-pay-agreement-content em{
	color: #000000;
}
.agreement-btn{
	position:absolute;
	bottom:0;
	left:0;
	padding-top:43px;
	width:100%;
	height:134px;
	background: #F7F6F3;
	text-align:center;
	z-index:2;
	box-sizing:border-box;
}
.agreement-btn a{
	display:inline-block;
	width:254px;
	height: 56px;
	line-height: 56px;
	background: #B8A18C;
	border-radius: 28px;
	font-size: 14px;
	color: #FFFFFF;
}
/*付款页*/
.plus-pay-confirm{
	position:relative;
	padding:18px 18px 185px;
	min-height:570px;
	background:#fff;
	box-sizing:border-box;
}
.plus-pay-confirm-li{
	padding-top: 11px;
	padding-bottom:14px;
	margin-bottom:14px;
	border-bottom:1px dashed #DEDEDE;
}
.plus-pay-confirm-li:last-child{
	border:0;
}
.plus-pay-confirm-dt{
	margin-bottom:20px;
	font-size: 18px;
	color: #4A4A4A;
}
.plus-pay-confirm-li strong{
	font-size: 24px;
	font-weight:normal;
	color: #E45050;
}
.plus-pay-money em{
	display:inline-block;
	margin-left:10px;
	font-size: 14px;
	color: #6C6C6C;
	vertical-align:middle;
}
.plus-pay-sel li{
	position:relative;
	display:inline-block;
	margin-right:15px;
	width:178px;
	height:65px;
	background: #FFFFFF;
	border: 1px solid  #E8E8E8;
	box-sizing:border-box;
	vertical-align:top;
	overflow: hidden;
	cursor:pointer;
}
.plus-pay-sel li.active{
	border-color:#E45050;

}
.plus-pay-sel li img{
	max-width:100%;
}
.plus-pay-sel li.active i{
	display:inline-block;
}
.plus-pay-sel li i{
	position:absolute;
	right:0;
	bottom:0;
	z-index:2;
	display:none;
	width:23px;
	height:22px;
	background:url(../images/plus/plus-yes.png) no-repeat center;
}
.plus-btn-pay{
	position:absolute;
	left:0;
	bottom:0;
	z-index:2;
	padding-top:42px;
	width:100%;
	height:137px;
	background: #F7F6F3;
	text-align:center;
	box-sizing:border-box;
}
.plus-btn-pay a{
	display:inline-block;
	width:254px;
	height:56px;
	line-height: 56px;
	background: #ED6464;
	border-radius: 28px;
	font-size: 18px;
	color: #FFFFFF;
}
.plus-pay-num{
	display:inline-block;
	padding:0 10px;
	min-width:220px;
	height:28px;
	line-height:28px;
	border: 1px solid #D8D8D8;
	font-size: 14px;
	color: #9B9B9B;
	box-sizing:border-box;
	text-align:center;
}