.front-1 .bbc_color, .front-1 .activity-a h3, .front-1 h3.index-module-tit,
.front-1 .activity-a h3 > i, .front-1 h3.index-module-tit > i,
.front-1 .activity-a h3 em, .front-1 h3.index-module-tit em,
.front-1 .group-purchase-a .swiper-slide div.pri,
.front-1 .time-limit-a .swiper-slide div.time .iconfont,
.front-1 .platform-details p, .front-1 .platform-details p span, .front-1 .rmb,
.front-1 .platform-details div span.yq, .front-1 .coupon-details p, .front-1 .coupon-details p span, .front-1 .coupon-details div em,
.front-1 .coupon-details div span.yq, .front-1 .activity-a h3, .front-1 h3.index-module-tit, .front-1 .activity-a h3 em,
.front-1 h3.index-module-tit em, .front-1 .guess-like li p, .front-1 .count-down dl dt, .front-1 .count-down dl dd,
.front-1 .count-down i.iconfont, .front-1 .pri-color, .front-1 .al a:hover, .front-1 .tnav a:hover, .front-1 .tnav a.active,
.front-1 .gpc-special-goods-text p strong, .front-1 li.seles a, .front-1 .brand_num .active,
.front-1 .cr_xie_lia2_span2-1, .front-1 ._p strong, .front-1 .same_2, .front-1 .jiaoyizhognxin ._Color:hover,
.front-1 .sel_color, .front-1 .tabmenu .tab .active a, .front-1 .tabmenu .tab .active a:hover,
.front-1 .order_types a.currect, .front-1 .order_content a:hover, .front-1 .to_views:hover i.iconfont,
.front-1 .order_mess_one a i.iconfont, .front-1 .tracks_con_time_list ul li span, .front-1 .btn-operate,
.front-1 hover_leave h3 a, .front-1 .goods_ul_S li:hover a, .front-1 .joinin-index-step span.step i, .front-1 .reds,
.front-1 .tleft > ul > li.hover_leave h3 a, .front-1 .frame5 .mc span a,
.front-1 .goods-price em, .front-1 .coupon-a .swiper-slide a, .front-1 .common-color, .front-1 .infor-head-nav p a.active,
.front-1 .infor-nav-sel ul li.active span, .front-1 .infor-nav-sel ul li.active i,
.front-1 .bus_name .icon-icoshop {
  color: #fe0071; }

.front-1 .back_mall_index a:hover {
  color: #fffefe; }

.front-1 .nav_right .search-types li a {
  color: #fe0071; }

.front-1 .nav_right .search-types li.active a {
  background: #fe0071;
  color: #fff; }

.front-1 .nav_right input {
  border-color: #fe0071; }

.front-1 .ser, .front-1 .class_title, .front-1 .thead .tleft, .front-1 .hr-her, .front-1 .hd li.on, .front-1 .time-limit-a .swiper-slide div span,
.front-1 .activity-a h3 span, .front-1 .index-module-tit span, .front-1 .group-purchase-a .swiper-slide a.btn-tuan, .front-1 .bbc_btns,
.front-1 .bbc_btns, .front-1 .bbc_bg, .front-1 .login-form .login-box .login-btn .btn-img, .front-1 .channels a:hover, .front-1 .reds,
.front-1 .lift_item:hover, .front-1 .lift_item_on, .front-1 .bbc_bg_col, .front-1 .hova, .front-1 input.ui_state_highlight:hover,
.front-1 .infor-head-nav strong:before, .front-1 .cart_ft_lk, .front-1 .bbc_btns, .front-1 .save {
  background: #fe0071; }

.front-1 .group-purchase-a .swiper-slide a.btn-tuan:before {
  border-right-color: #fe0071; }

.front-1 .group-purchase-a .swiper-slide a.btn-tuan:after {
  border-left-color: #fe0071; }

.front-1 .goods_det_about li a:hover, .front-1 .login-form .login-tab a.checked,
.front-1 .tabmenu .tab .active a, .front-1 .tabmenu .tab .active a:hover,
.front-1 li.seles, .front-1 .bbc-main-layout .title {
  border-bottom-color: #fe0071; }

.front-1 .discount-a-pri, .front-1 .platform-details div, .front-1 .coupon-details div,
.front-1 .ev_left ul li.check, .front-1 .tuan_go, .front-1 .goods_det_about li a.checked,
.front-1 .goods_det_about li a.checked, .front-1 .login-form .login-box .login-btn .btn-img,
.front-1 .brand_num .active, .front-1 .btn-operate, .front-1 .goods_ul_S li:hover, .front-1 .lift_item:hover,
.front-1 .lift_item_on, .front-1 .nch-sortbar-array .screen li.selected a,
.front-1 .gr_goods_list li:hover, .front-1 .infor-head-nav p a.active {
  border-color: #fe0071; }

.front-1 .platform-details div em, .front-1 .coupon-details div em {
  background-color: #fe0071;
  opacity: .5; }

.front-1 .gpc-special-goods-box, .front-1 .tab-text, .front-1 .page b, .front-1 .tracks-operate button, .front-1 .nch-sortbar-array .screen li.selected a,
.front-1 .bbc-memeber-pointcart a em {
  background-color: #fe0071; }

.front-1 .gpc-special-goods-lists li {
  background: linear-gradient(to right, #fe0071, #c6fe00); }

.front-1 .btn-gpc-special-goods {
  background: linear-gradient(to right, #fe0071, #fe3800); }

.front-1 .joinin-info .tabs-nav li.tabs-selected {
  border-top-color: #fe0071; }

.front-1 .tab-sub {
  background: #fe0071;
  border-color: #fe0071; }

.front-1 .hover_content {
  border-right-color: #fe0071;
  border-bottom-color: #fe0071; }

.front-1 .red, .front-1 .bbc_seller_color, .front-1 .container .mc ul li a.active, .front-1 .seller-a-link-red,
.front-1 .seller-a-link-blue {
  color: #fe0071; }

.front-1 .bbc_seller_bg, .front-1 .dis_flag, .front-1 .bbc_seller_submit_btns, .front-1 .bbc_seller_btns, .front-1 .search-goods-list .close,
.front-1 .bbc_seller_btns1, .front-1 .bulk-drliver-btn, .front-1 .btn-icon-submit {
  background: #fe0071; }

.front-1 a:hover.ncbtn-mini, .front-1 a:hover.ncbtn {
  background-color: #cb005a; }

.front-1 .image-list .image-item:hover .image-box {
  border-color: #fe0071; }

.front-1 .bbc_img_btns {
  background: #ff65aa; }

.front-2 .bbc_color, .front-2 .activity-a h3, .front-2 h3.index-module-tit,
.front-2 .activity-a h3 > i, .front-2 h3.index-module-tit > i,
.front-2 .activity-a h3 em, .front-2 h3.index-module-tit em,
.front-2 .group-purchase-a .swiper-slide div.pri,
.front-2 .time-limit-a .swiper-slide div.time .iconfont,
.front-2 .platform-details p, .front-2 .platform-details p span, .front-2 .rmb,
.front-2 .platform-details div span.yq, .front-2 .coupon-details p, .front-2 .coupon-details p span, .front-2 .coupon-details div em,
.front-2 .coupon-details div span.yq, .front-2 .activity-a h3, .front-2 h3.index-module-tit, .front-2 .activity-a h3 em,
.front-2 h3.index-module-tit em, .front-2 .guess-like li p, .front-2 .count-down dl dt, .front-2 .count-down dl dd,
.front-2 .count-down i.iconfont, .front-2 .pri-color, .front-2 .al a:hover, .front-2 .tnav a:hover, .front-2 .tnav a.active,
.front-2 .gpc-special-goods-text p strong, .front-2 li.seles a, .front-2 .brand_num .active,
.front-2 .cr_xie_lia2_span2-1, .front-2 ._p strong, .front-2 .same_2, .front-2 .jiaoyizhognxin ._Color:hover,
.front-2 .sel_color, .front-2 .tabmenu .tab .active a, .front-2 .tabmenu .tab .active a:hover,
.front-2 .order_types a.currect, .front-2 .order_content a:hover, .front-2 .to_views:hover i.iconfont,
.front-2 .order_mess_one a i.iconfont, .front-2 .tracks_con_time_list ul li span, .front-2 .btn-operate,
.front-2 hover_leave h3 a, .front-2 .goods_ul_S li:hover a, .front-2 .joinin-index-step span.step i, .front-2 .reds,
.front-2 .tleft > ul > li.hover_leave h3 a, .front-2 .frame5 .mc span a,
.front-2 .goods-price em, .front-2 .coupon-a .swiper-slide a, .front-2 .common-color, .front-2 .infor-head-nav p a.active,
.front-2 .infor-nav-sel ul li.active span, .front-2 .infor-nav-sel ul li.active i,
.front-2 .bus_name .icon-icoshop {
  color: #13eaf4; }

.front-2 .back_mall_index a:hover {
  color: white; }

.front-2 .nav_right .search-types li a {
  color: #13eaf4; }

.front-2 .nav_right .search-types li.active a {
  background: #13eaf4;
  color: #fff; }

.front-2 .nav_right input {
  border-color: #13eaf4; }

.front-2 .ser, .front-2 .class_title, .front-2 .thead .tleft, .front-2 .hr-her, .front-2 .hd li.on, .front-2 .time-limit-a .swiper-slide div span,
.front-2 .activity-a h3 span, .front-2 .index-module-tit span, .front-2 .group-purchase-a .swiper-slide a.btn-tuan, .front-2 .bbc_btns,
.front-2 .bbc_btns, .front-2 .bbc_bg, .front-2 .login-form .login-box .login-btn .btn-img, .front-2 .channels a:hover, .front-2 .reds,
.front-2 .lift_item:hover, .front-2 .lift_item_on, .front-2 .bbc_bg_col, .front-2 .hova, .front-2 input.ui_state_highlight:hover,
.front-2 .infor-head-nav strong:before, .front-2 .cart_ft_lk, .front-2 .bbc_btns, .front-2 .save {
  background: #13eaf4; }

.front-2 .group-purchase-a .swiper-slide a.btn-tuan:before {
  border-right-color: #13eaf4; }

.front-2 .group-purchase-a .swiper-slide a.btn-tuan:after {
  border-left-color: #13eaf4; }

.front-2 .goods_det_about li a:hover, .front-2 .login-form .login-tab a.checked,
.front-2 .tabmenu .tab .active a, .front-2 .tabmenu .tab .active a:hover,
.front-2 li.seles, .front-2 .bbc-main-layout .title {
  border-bottom-color: #13eaf4; }

.front-2 .discount-a-pri, .front-2 .platform-details div, .front-2 .coupon-details div,
.front-2 .ev_left ul li.check, .front-2 .tuan_go, .front-2 .goods_det_about li a.checked,
.front-2 .goods_det_about li a.checked, .front-2 .login-form .login-box .login-btn .btn-img,
.front-2 .brand_num .active, .front-2 .btn-operate, .front-2 .goods_ul_S li:hover, .front-2 .lift_item:hover,
.front-2 .lift_item_on, .front-2 .nch-sortbar-array .screen li.selected a,
.front-2 .gr_goods_list li:hover, .front-2 .infor-head-nav p a.active {
  border-color: #13eaf4; }

.front-2 .platform-details div em, .front-2 .coupon-details div em {
  background-color: #13eaf4;
  opacity: .5; }

.front-2 .gpc-special-goods-box, .front-2 .tab-text, .front-2 .page b, .front-2 .tracks-operate button, .front-2 .nch-sortbar-array .screen li.selected a,
.front-2 .bbc-memeber-pointcart a em {
  background-color: #13eaf4; }

.front-2 .gpc-special-goods-lists li {
  background: linear-gradient(to right, #13eaf4, #b313f4); }

.front-2 .btn-gpc-special-goods {
  background: linear-gradient(to right, #13eaf4, #1354f4); }

.front-2 .joinin-info .tabs-nav li.tabs-selected {
  border-top-color: #13eaf4; }

.front-2 .tab-sub {
  background: #13eaf4;
  border-color: #13eaf4; }

.front-2 .hover_content {
  border-right-color: #13eaf4;
  border-bottom-color: #13eaf4; }

.front-2 .red, .front-2 .bbc_seller_color, .front-2 .container .mc ul li a.active, .front-2 .seller-a-link-red,
.front-2 .seller-a-link-blue {
  color: #13eaf4; }

.front-2 .bbc_seller_bg, .front-2 .dis_flag, .front-2 .bbc_seller_submit_btns, .front-2 .bbc_seller_btns, .front-2 .search-goods-list .close,
.front-2 .bbc_seller_btns1, .front-2 .bulk-drliver-btn, .front-2 .btn-icon-submit {
  background: #13eaf4; }

.front-2 a:hover.ncbtn-mini, .front-2 a:hover.ncbtn {
  background-color: #09c2cb; }

.front-2 .image-list .image-item:hover .image-box {
  border-color: #13eaf4; }

.front-2 .bbc_img_btns {
  background: #74f3f9; }

.front-3 .bbc_color, .front-3 .activity-a h3, .front-3 h3.index-module-tit,
.front-3 .activity-a h3 > i, .front-3 h3.index-module-tit > i,
.front-3 .activity-a h3 em, .front-3 h3.index-module-tit em,
.front-3 .group-purchase-a .swiper-slide div.pri,
.front-3 .time-limit-a .swiper-slide div.time .iconfont,
.front-3 .platform-details p, .front-3 .platform-details p span, .front-3 .rmb,
.front-3 .platform-details div span.yq, .front-3 .coupon-details p, .front-3 .coupon-details p span, .front-3 .coupon-details div em,
.front-3 .coupon-details div span.yq, .front-3 .activity-a h3, .front-3 h3.index-module-tit, .front-3 .activity-a h3 em,
.front-3 h3.index-module-tit em, .front-3 .guess-like li p, .front-3 .count-down dl dt, .front-3 .count-down dl dd,
.front-3 .count-down i.iconfont, .front-3 .pri-color, .front-3 .al a:hover, .front-3 .tnav a:hover, .front-3 .tnav a.active,
.front-3 .gpc-special-goods-text p strong, .front-3 li.seles a, .front-3 .brand_num .active,
.front-3 .cr_xie_lia2_span2-1, .front-3 ._p strong, .front-3 .same_2, .front-3 .jiaoyizhognxin ._Color:hover,
.front-3 .sel_color, .front-3 .tabmenu .tab .active a, .front-3 .tabmenu .tab .active a:hover,
.front-3 .order_types a.currect, .front-3 .order_content a:hover, .front-3 .to_views:hover i.iconfont,
.front-3 .order_mess_one a i.iconfont, .front-3 .tracks_con_time_list ul li span, .front-3 .btn-operate,
.front-3 hover_leave h3 a, .front-3 .goods_ul_S li:hover a, .front-3 .joinin-index-step span.step i, .front-3 .reds,
.front-3 .tleft > ul > li.hover_leave h3 a, .front-3 .frame5 .mc span a,
.front-3 .goods-price em, .front-3 .coupon-a .swiper-slide a, .front-3 .common-color, .front-3 .infor-head-nav p a.active,
.front-3 .infor-nav-sel ul li.active span, .front-3 .infor-nav-sel ul li.active i,
.front-3 .bus_name .icon-icoshop {
  color: #00a895; }

.front-3 .back_mall_index a:hover {
  color: #a8fff5; }

.front-3 .nav_right .search-types li a {
  color: #00a895; }

.front-3 .nav_right .search-types li.active a {
  background: #00a895;
  color: #fff; }

.front-3 .nav_right input {
  border-color: #00a895; }

.front-3 .ser, .front-3 .class_title, .front-3 .thead .tleft, .front-3 .hr-her, .front-3 .hd li.on, .front-3 .time-limit-a .swiper-slide div span,
.front-3 .activity-a h3 span, .front-3 .index-module-tit span, .front-3 .group-purchase-a .swiper-slide a.btn-tuan, .front-3 .bbc_btns,
.front-3 .bbc_btns, .front-3 .bbc_bg, .front-3 .login-form .login-box .login-btn .btn-img, .front-3 .channels a:hover, .front-3 .reds,
.front-3 .lift_item:hover, .front-3 .lift_item_on, .front-3 .bbc_bg_col, .front-3 .hova, .front-3 input.ui_state_highlight:hover,
.front-3 .infor-head-nav strong:before, .front-3 .cart_ft_lk, .front-3 .bbc_btns, .front-3 .save {
  background: #00a895; }

.front-3 .group-purchase-a .swiper-slide a.btn-tuan:before {
  border-right-color: #00a895; }

.front-3 .group-purchase-a .swiper-slide a.btn-tuan:after {
  border-left-color: #00a895; }

.front-3 .goods_det_about li a:hover, .front-3 .login-form .login-tab a.checked,
.front-3 .tabmenu .tab .active a, .front-3 .tabmenu .tab .active a:hover,
.front-3 li.seles, .front-3 .bbc-main-layout .title {
  border-bottom-color: #00a895; }

.front-3 .discount-a-pri, .front-3 .platform-details div, .front-3 .coupon-details div,
.front-3 .ev_left ul li.check, .front-3 .tuan_go, .front-3 .goods_det_about li a.checked,
.front-3 .goods_det_about li a.checked, .front-3 .login-form .login-box .login-btn .btn-img,
.front-3 .brand_num .active, .front-3 .btn-operate, .front-3 .goods_ul_S li:hover, .front-3 .lift_item:hover,
.front-3 .lift_item_on, .front-3 .nch-sortbar-array .screen li.selected a,
.front-3 .gr_goods_list li:hover, .front-3 .infor-head-nav p a.active {
  border-color: #00a895; }

.front-3 .platform-details div em, .front-3 .coupon-details div em {
  background-color: #00a895;
  opacity: .5; }

.front-3 .gpc-special-goods-box, .front-3 .tab-text, .front-3 .page b, .front-3 .tracks-operate button, .front-3 .nch-sortbar-array .screen li.selected a,
.front-3 .bbc-memeber-pointcart a em {
  background-color: #00a895; }

.front-3 .gpc-special-goods-lists li {
  background: linear-gradient(to right, #00a895, #5d00a8); }

.front-3 .btn-gpc-special-goods {
  background: linear-gradient(to right, #00a895, #004ba8); }

.front-3 .joinin-info .tabs-nav li.tabs-selected {
  border-top-color: #00a895; }

.front-3 .tab-sub {
  background: #00a895;
  border-color: #00a895; }

.front-3 .hover_content {
  border-right-color: #00a895;
  border-bottom-color: #00a895; }

.front-3 .red, .front-3 .bbc_seller_color, .front-3 .container .mc ul li a.active, .front-3 .seller-a-link-red,
.front-3 .seller-a-link-blue {
  color: #00a895; }

.front-3 .bbc_seller_bg, .front-3 .dis_flag, .front-3 .bbc_seller_submit_btns, .front-3 .bbc_seller_btns, .front-3 .search-goods-list .close,
.front-3 .bbc_seller_btns1, .front-3 .bulk-drliver-btn, .front-3 .btn-icon-submit {
  background: #00a895; }

.front-3 a:hover.ncbtn-mini, .front-3 a:hover.ncbtn {
  background-color: #007568; }

.front-3 .image-list .image-item:hover .image-box {
  border-color: #00a895; }

.front-3 .bbc_img_btns {
  background: #0fffe4; }

.front-4 .bbc_color, .front-4 .activity-a h3, .front-4 h3.index-module-tit,
.front-4 .activity-a h3 > i, .front-4 h3.index-module-tit > i,
.front-4 .activity-a h3 em, .front-4 h3.index-module-tit em,
.front-4 .group-purchase-a .swiper-slide div.pri,
.front-4 .time-limit-a .swiper-slide div.time .iconfont,
.front-4 .platform-details p, .front-4 .platform-details p span, .front-4 .rmb,
.front-4 .platform-details div span.yq, .front-4 .coupon-details p, .front-4 .coupon-details p span, .front-4 .coupon-details div em,
.front-4 .coupon-details div span.yq, .front-4 .activity-a h3, .front-4 h3.index-module-tit, .front-4 .activity-a h3 em,
.front-4 h3.index-module-tit em, .front-4 .guess-like li p, .front-4 .count-down dl dt, .front-4 .count-down dl dd,
.front-4 .count-down i.iconfont, .front-4 .pri-color, .front-4 .al a:hover, .front-4 .tnav a:hover, .front-4 .tnav a.active,
.front-4 .gpc-special-goods-text p strong, .front-4 li.seles a, .front-4 .brand_num .active,
.front-4 .cr_xie_lia2_span2-1, .front-4 ._p strong, .front-4 .same_2, .front-4 .jiaoyizhognxin ._Color:hover,
.front-4 .sel_color, .front-4 .tabmenu .tab .active a, .front-4 .tabmenu .tab .active a:hover,
.front-4 .order_types a.currect, .front-4 .order_content a:hover, .front-4 .to_views:hover i.iconfont,
.front-4 .order_mess_one a i.iconfont, .front-4 .tracks_con_time_list ul li span, .front-4 .btn-operate,
.front-4 hover_leave h3 a, .front-4 .goods_ul_S li:hover a, .front-4 .joinin-index-step span.step i, .front-4 .reds,
.front-4 .tleft > ul > li.hover_leave h3 a, .front-4 .frame5 .mc span a,
.front-4 .goods-price em, .front-4 .coupon-a .swiper-slide a, .front-4 .common-color, .front-4 .infor-head-nav p a.active,
.front-4 .infor-nav-sel ul li.active span, .front-4 .infor-nav-sel ul li.active i,
.front-4 .bus_name .icon-icoshop {
  color: #c98787; }

.front-4 .back_mall_index a:hover {
  color: white; }

.front-4 .nav_right .search-types li a {
  color: #c98787; }

.front-4 .nav_right .search-types li.active a {
  background: #c98787;
  color: #fff; }

.front-4 .nav_right input {
  border-color: #c98787; }

.front-4 .ser, .front-4 .class_title, .front-4 .thead .tleft, .front-4 .hr-her, .front-4 .hd li.on, .front-4 .time-limit-a .swiper-slide div span,
.front-4 .activity-a h3 span, .front-4 .index-module-tit span, .front-4 .group-purchase-a .swiper-slide a.btn-tuan, .front-4 .bbc_btns,
.front-4 .bbc_btns, .front-4 .bbc_bg, .front-4 .login-form .login-box .login-btn .btn-img, .front-4 .channels a:hover, .front-4 .reds,
.front-4 .lift_item:hover, .front-4 .lift_item_on, .front-4 .bbc_bg_col, .front-4 .hova, .front-4 input.ui_state_highlight:hover,
.front-4 .infor-head-nav strong:before, .front-4 .cart_ft_lk, .front-4 .bbc_btns, .front-4 .save {
  background: #c98787; }

.front-4 .group-purchase-a .swiper-slide a.btn-tuan:before {
  border-right-color: #c98787; }

.front-4 .group-purchase-a .swiper-slide a.btn-tuan:after {
  border-left-color: #c98787; }

.front-4 .goods_det_about li a:hover, .front-4 .login-form .login-tab a.checked,
.front-4 .tabmenu .tab .active a, .front-4 .tabmenu .tab .active a:hover,
.front-4 li.seles, .front-4 .bbc-main-layout .title {
  border-bottom-color: #c98787; }

.front-4 .discount-a-pri, .front-4 .platform-details div, .front-4 .coupon-details div,
.front-4 .ev_left ul li.check, .front-4 .tuan_go, .front-4 .goods_det_about li a.checked,
.front-4 .goods_det_about li a.checked, .front-4 .login-form .login-box .login-btn .btn-img,
.front-4 .brand_num .active, .front-4 .btn-operate, .front-4 .goods_ul_S li:hover, .front-4 .lift_item:hover,
.front-4 .lift_item_on, .front-4 .nch-sortbar-array .screen li.selected a,
.front-4 .gr_goods_list li:hover, .front-4 .infor-head-nav p a.active {
  border-color: #c98787; }

.front-4 .platform-details div em, .front-4 .coupon-details div em {
  background-color: #c98787;
  opacity: .5; }

.front-4 .gpc-special-goods-box, .front-4 .tab-text, .front-4 .page b, .front-4 .tracks-operate button, .front-4 .nch-sortbar-array .screen li.selected a,
.front-4 .bbc-memeber-pointcart a em {
  background-color: #c98787; }

.front-4 .gpc-special-goods-lists li {
  background: linear-gradient(to right, #c98787, #9dc987); }

.front-4 .btn-gpc-special-goods {
  background: linear-gradient(to right, #c98787, #c9b387); }

.front-4 .joinin-info .tabs-nav li.tabs-selected {
  border-top-color: #c98787; }

.front-4 .tab-sub {
  background: #c98787;
  border-color: #c98787; }

.front-4 .hover_content {
  border-right-color: #c98787;
  border-bottom-color: #c98787; }

.front-4 .red, .front-4 .bbc_seller_color, .front-4 .container .mc ul li a.active, .front-4 .seller-a-link-red,
.front-4 .seller-a-link-blue {
  color: #c98787; }

.front-4 .bbc_seller_bg, .front-4 .dis_flag, .front-4 .bbc_seller_submit_btns, .front-4 .bbc_seller_btns, .front-4 .search-goods-list .close,
.front-4 .bbc_seller_btns1, .front-4 .bulk-drliver-btn, .front-4 .btn-icon-submit {
  background: #c98787; }

.front-4 a:hover.ncbtn-mini, .front-4 a:hover.ncbtn {
  background-color: #b96464; }

.front-4 .image-list .image-item:hover .image-box {
  border-color: #c98787; }

.front-4 .bbc_img_btns {
  background: #e9cdcd; }

.front-5 .bbc_color, .front-5 .activity-a h3, .front-5 h3.index-module-tit,
.front-5 .activity-a h3 > i, .front-5 h3.index-module-tit > i,
.front-5 .activity-a h3 em, .front-5 h3.index-module-tit em,
.front-5 .group-purchase-a .swiper-slide div.pri,
.front-5 .time-limit-a .swiper-slide div.time .iconfont,
.front-5 .platform-details p, .front-5 .platform-details p span, .front-5 .rmb,
.front-5 .platform-details div span.yq, .front-5 .coupon-details p, .front-5 .coupon-details p span, .front-5 .coupon-details div em,
.front-5 .coupon-details div span.yq, .front-5 .activity-a h3, .front-5 h3.index-module-tit, .front-5 .activity-a h3 em,
.front-5 h3.index-module-tit em, .front-5 .guess-like li p, .front-5 .count-down dl dt, .front-5 .count-down dl dd,
.front-5 .count-down i.iconfont, .front-5 .pri-color, .front-5 .al a:hover, .front-5 .tnav a:hover, .front-5 .tnav a.active,
.front-5 .gpc-special-goods-text p strong, .front-5 li.seles a, .front-5 .brand_num .active,
.front-5 .cr_xie_lia2_span2-1, .front-5 ._p strong, .front-5 .same_2, .front-5 .jiaoyizhognxin ._Color:hover,
.front-5 .sel_color, .front-5 .tabmenu .tab .active a, .front-5 .tabmenu .tab .active a:hover,
.front-5 .order_types a.currect, .front-5 .order_content a:hover, .front-5 .to_views:hover i.iconfont,
.front-5 .order_mess_one a i.iconfont, .front-5 .tracks_con_time_list ul li span, .front-5 .btn-operate,
.front-5 hover_leave h3 a, .front-5 .goods_ul_S li:hover a, .front-5 .joinin-index-step span.step i, .front-5 .reds,
.front-5 .tleft > ul > li.hover_leave h3 a, .front-5 .frame5 .mc span a,
.front-5 .goods-price em, .front-5 .coupon-a .swiper-slide a, .front-5 .common-color, .front-5 .infor-head-nav p a.active,
.front-5 .infor-nav-sel ul li.active span, .front-5 .infor-nav-sel ul li.active i,
.front-5 .bus_name .icon-icoshop {
  color: #0094ff; }

.front-5 .back_mall_index a:hover {
  color: white; }

.front-5 .nav_right .search-types li a {
  color: #0094ff; }

.front-5 .nav_right .search-types li.active a {
  background: #0094ff;
  color: #fff; }

.front-5 .nav_right input {
  border-color: #0094ff; }

.front-5 .ser, .front-5 .class_title, .front-5 .thead .tleft, .front-5 .hr-her, .front-5 .hd li.on, .front-5 .time-limit-a .swiper-slide div span,
.front-5 .activity-a h3 span, .front-5 .index-module-tit span, .front-5 .group-purchase-a .swiper-slide a.btn-tuan, .front-5 .bbc_btns,
.front-5 .bbc_btns, .front-5 .bbc_bg, .front-5 .login-form .login-box .login-btn .btn-img, .front-5 .channels a:hover, .front-5 .reds,
.front-5 .lift_item:hover, .front-5 .lift_item_on, .front-5 .bbc_bg_col, .front-5 .hova, .front-5 input.ui_state_highlight:hover,
.front-5 .infor-head-nav strong:before, .front-5 .cart_ft_lk, .front-5 .bbc_btns, .front-5 .save {
  background: #0094ff; }

.front-5 .group-purchase-a .swiper-slide a.btn-tuan:before {
  border-right-color: #0094ff; }

.front-5 .group-purchase-a .swiper-slide a.btn-tuan:after {
  border-left-color: #0094ff; }

.front-5 .goods_det_about li a:hover, .front-5 .login-form .login-tab a.checked,
.front-5 .tabmenu .tab .active a, .front-5 .tabmenu .tab .active a:hover,
.front-5 li.seles, .front-5 .bbc-main-layout .title {
  border-bottom-color: #0094ff; }

.front-5 .discount-a-pri, .front-5 .platform-details div, .front-5 .coupon-details div,
.front-5 .ev_left ul li.check, .front-5 .tuan_go, .front-5 .goods_det_about li a.checked,
.front-5 .goods_det_about li a.checked, .front-5 .login-form .login-box .login-btn .btn-img,
.front-5 .brand_num .active, .front-5 .btn-operate, .front-5 .goods_ul_S li:hover, .front-5 .lift_item:hover,
.front-5 .lift_item_on, .front-5 .nch-sortbar-array .screen li.selected a,
.front-5 .gr_goods_list li:hover, .front-5 .infor-head-nav p a.active {
  border-color: #0094ff; }

.front-5 .platform-details div em, .front-5 .coupon-details div em {
  background-color: #0094ff;
  opacity: .5; }

.front-5 .gpc-special-goods-box, .front-5 .tab-text, .front-5 .page b, .front-5 .tracks-operate button, .front-5 .nch-sortbar-array .screen li.selected a,
.front-5 .bbc-memeber-pointcart a em {
  background-color: #0094ff; }

.front-5 .gpc-special-goods-lists li {
  background: linear-gradient(to right, #0094ff, #ff00e9); }

.front-5 .btn-gpc-special-goods {
  background: linear-gradient(to right, #0094ff, #1600ff); }

.front-5 .joinin-info .tabs-nav li.tabs-selected {
  border-top-color: #0094ff; }

.front-5 .tab-sub {
  background: #0094ff;
  border-color: #0094ff; }

.front-5 .hover_content {
  border-right-color: #0094ff;
  border-bottom-color: #0094ff; }

.front-5 .red, .front-5 .bbc_seller_color, .front-5 .container .mc ul li a.active, .front-5 .seller-a-link-red,
.front-5 .seller-a-link-blue {
  color: #0094ff; }

.front-5 .bbc_seller_bg, .front-5 .dis_flag, .front-5 .bbc_seller_submit_btns, .front-5 .bbc_seller_btns, .front-5 .search-goods-list .close,
.front-5 .bbc_seller_btns1, .front-5 .bulk-drliver-btn, .front-5 .btn-icon-submit {
  background: #0094ff; }

.front-5 a:hover.ncbtn-mini, .front-5 a:hover.ncbtn {
  background-color: #0076cc; }

.front-5 .image-list .image-item:hover .image-box {
  border-color: #0094ff; }

.front-5 .bbc_img_btns {
  background: #66bfff; }

.front-6 .bbc_color, .front-6 .activity-a h3, .front-6 h3.index-module-tit,
.front-6 .activity-a h3 > i, .front-6 h3.index-module-tit > i,
.front-6 .activity-a h3 em, .front-6 h3.index-module-tit em,
.front-6 .group-purchase-a .swiper-slide div.pri,
.front-6 .time-limit-a .swiper-slide div.time .iconfont,
.front-6 .platform-details p, .front-6 .platform-details p span, .front-6 .rmb,
.front-6 .platform-details div span.yq, .front-6 .coupon-details p, .front-6 .coupon-details p span, .front-6 .coupon-details div em,
.front-6 .coupon-details div span.yq, .front-6 .activity-a h3, .front-6 h3.index-module-tit, .front-6 .activity-a h3 em,
.front-6 h3.index-module-tit em, .front-6 .guess-like li p, .front-6 .count-down dl dt, .front-6 .count-down dl dd,
.front-6 .count-down i.iconfont, .front-6 .pri-color, .front-6 .al a:hover, .front-6 .tnav a:hover, .front-6 .tnav a.active,
.front-6 .gpc-special-goods-text p strong, .front-6 li.seles a, .front-6 .brand_num .active,
.front-6 .cr_xie_lia2_span2-1, .front-6 ._p strong, .front-6 .same_2, .front-6 .jiaoyizhognxin ._Color:hover,
.front-6 .sel_color, .front-6 .tabmenu .tab .active a, .front-6 .tabmenu .tab .active a:hover,
.front-6 .order_types a.currect, .front-6 .order_content a:hover, .front-6 .to_views:hover i.iconfont,
.front-6 .order_mess_one a i.iconfont, .front-6 .tracks_con_time_list ul li span, .front-6 .btn-operate,
.front-6 hover_leave h3 a, .front-6 .goods_ul_S li:hover a, .front-6 .joinin-index-step span.step i, .front-6 .reds,
.front-6 .tleft > ul > li.hover_leave h3 a, .front-6 .frame5 .mc span a,
.front-6 .goods-price em, .front-6 .coupon-a .swiper-slide a, .front-6 .common-color, .front-6 .infor-head-nav p a.active,
.front-6 .infor-nav-sel ul li.active span, .front-6 .infor-nav-sel ul li.active i,
.front-6 .bus_name .icon-icoshop {
  color: #01b4df; }

.front-6 .back_mall_index a:hover {
  color: #e0f9ff; }

.front-6 .nav_right .search-types li a {
  color: #01b4df; }

.front-6 .nav_right .search-types li.active a {
  background: #01b4df;
  color: #fff; }

.front-6 .nav_right input {
  border-color: #01b4df; }

.front-6 .ser, .front-6 .class_title, .front-6 .thead .tleft, .front-6 .hr-her, .front-6 .hd li.on, .front-6 .time-limit-a .swiper-slide div span,
.front-6 .activity-a h3 span, .front-6 .index-module-tit span, .front-6 .group-purchase-a .swiper-slide a.btn-tuan, .front-6 .bbc_btns,
.front-6 .bbc_btns, .front-6 .bbc_bg, .front-6 .login-form .login-box .login-btn .btn-img, .front-6 .channels a:hover, .front-6 .reds,
.front-6 .lift_item:hover, .front-6 .lift_item_on, .front-6 .bbc_bg_col, .front-6 .hova, .front-6 input.ui_state_highlight:hover,
.front-6 .infor-head-nav strong:before, .front-6 .cart_ft_lk, .front-6 .bbc_btns, .front-6 .save {
  background: #01b4df; }

.front-6 .group-purchase-a .swiper-slide a.btn-tuan:before {
  border-right-color: #01b4df; }

.front-6 .group-purchase-a .swiper-slide a.btn-tuan:after {
  border-left-color: #01b4df; }

.front-6 .goods_det_about li a:hover, .front-6 .login-form .login-tab a.checked,
.front-6 .tabmenu .tab .active a, .front-6 .tabmenu .tab .active a:hover,
.front-6 li.seles, .front-6 .bbc-main-layout .title {
  border-bottom-color: #01b4df; }

.front-6 .discount-a-pri, .front-6 .platform-details div, .front-6 .coupon-details div,
.front-6 .ev_left ul li.check, .front-6 .tuan_go, .front-6 .goods_det_about li a.checked,
.front-6 .goods_det_about li a.checked, .front-6 .login-form .login-box .login-btn .btn-img,
.front-6 .brand_num .active, .front-6 .btn-operate, .front-6 .goods_ul_S li:hover, .front-6 .lift_item:hover,
.front-6 .lift_item_on, .front-6 .nch-sortbar-array .screen li.selected a,
.front-6 .gr_goods_list li:hover, .front-6 .infor-head-nav p a.active {
  border-color: #01b4df; }

.front-6 .platform-details div em, .front-6 .coupon-details div em {
  background-color: #01b4df;
  opacity: .5; }

.front-6 .gpc-special-goods-box, .front-6 .tab-text, .front-6 .page b, .front-6 .tracks-operate button, .front-6 .nch-sortbar-array .screen li.selected a,
.front-6 .bbc-memeber-pointcart a em {
  background-color: #01b4df; }

.front-6 .gpc-special-goods-lists li {
  background: linear-gradient(to right, #01b4df, #c001df); }

.front-6 .btn-gpc-special-goods {
  background: linear-gradient(to right, #01b4df, #0120df); }

.front-6 .joinin-info .tabs-nav li.tabs-selected {
  border-top-color: #01b4df; }

.front-6 .tab-sub {
  background: #01b4df;
  border-color: #01b4df; }

.front-6 .hover_content {
  border-right-color: #01b4df;
  border-bottom-color: #01b4df; }

.front-6 .red, .front-6 .bbc_seller_color, .front-6 .container .mc ul li a.active, .front-6 .seller-a-link-red,
.front-6 .seller-a-link-blue {
  color: #01b4df; }

.front-6 .bbc_seller_bg, .front-6 .dis_flag, .front-6 .bbc_seller_submit_btns, .front-6 .bbc_seller_btns, .front-6 .search-goods-list .close,
.front-6 .bbc_seller_btns1, .front-6 .bulk-drliver-btn, .front-6 .btn-icon-submit {
  background: #01b4df; }

.front-6 a:hover.ncbtn-mini, .front-6 a:hover.ncbtn {
  background-color: #018bac; }

.front-6 .image-list .image-item:hover .image-box {
  border-color: #01b4df; }

.front-6 .bbc_img_btns {
  background: #48dbfe; }

.front-7 .bbc_color, .front-7 .activity-a h3, .front-7 h3.index-module-tit,
.front-7 .activity-a h3 > i, .front-7 h3.index-module-tit > i,
.front-7 .activity-a h3 em, .front-7 h3.index-module-tit em,
.front-7 .group-purchase-a .swiper-slide div.pri,
.front-7 .time-limit-a .swiper-slide div.time .iconfont,
.front-7 .platform-details p, .front-7 .platform-details p span, .front-7 .rmb,
.front-7 .platform-details div span.yq, .front-7 .coupon-details p, .front-7 .coupon-details p span, .front-7 .coupon-details div em,
.front-7 .coupon-details div span.yq, .front-7 .activity-a h3, .front-7 h3.index-module-tit, .front-7 .activity-a h3 em,
.front-7 h3.index-module-tit em, .front-7 .guess-like li p, .front-7 .count-down dl dt, .front-7 .count-down dl dd,
.front-7 .count-down i.iconfont, .front-7 .pri-color, .front-7 .al a:hover, .front-7 .tnav a:hover, .front-7 .tnav a.active,
.front-7 .gpc-special-goods-text p strong, .front-7 li.seles a, .front-7 .brand_num .active,
.front-7 .cr_xie_lia2_span2-1, .front-7 ._p strong, .front-7 .same_2, .front-7 .jiaoyizhognxin ._Color:hover,
.front-7 .sel_color, .front-7 .tabmenu .tab .active a, .front-7 .tabmenu .tab .active a:hover,
.front-7 .order_types a.currect, .front-7 .order_content a:hover, .front-7 .to_views:hover i.iconfont,
.front-7 .order_mess_one a i.iconfont, .front-7 .tracks_con_time_list ul li span, .front-7 .btn-operate,
.front-7 hover_leave h3 a, .front-7 .goods_ul_S li:hover a, .front-7 .joinin-index-step span.step i, .front-7 .reds,
.front-7 .tleft > ul > li.hover_leave h3 a, .front-7 .frame5 .mc span a,
.front-7 .goods-price em, .front-7 .coupon-a .swiper-slide a, .front-7 .common-color, .front-7 .infor-head-nav p a.active,
.front-7 .infor-nav-sel ul li.active span, .front-7 .infor-nav-sel ul li.active i,
.front-7 .bus_name .icon-icoshop {
  color: #ff8d00; }

.front-7 .back_mall_index a:hover {
  color: white; }

.front-7 .nav_right .search-types li a {
  color: #ff8d00; }

.front-7 .nav_right .search-types li.active a {
  background: #ff8d00;
  color: #fff; }

.front-7 .nav_right input {
  border-color: #ff8d00; }

.front-7 .ser, .front-7 .class_title, .front-7 .thead .tleft, .front-7 .hr-her, .front-7 .hd li.on, .front-7 .time-limit-a .swiper-slide div span,
.front-7 .activity-a h3 span, .front-7 .index-module-tit span, .front-7 .group-purchase-a .swiper-slide a.btn-tuan, .front-7 .bbc_btns,
.front-7 .bbc_btns, .front-7 .bbc_bg, .front-7 .login-form .login-box .login-btn .btn-img, .front-7 .channels a:hover, .front-7 .reds,
.front-7 .lift_item:hover, .front-7 .lift_item_on, .front-7 .bbc_bg_col, .front-7 .hova, .front-7 input.ui_state_highlight:hover,
.front-7 .infor-head-nav strong:before, .front-7 .cart_ft_lk, .front-7 .bbc_btns, .front-7 .save {
  background: #ff8d00; }

.front-7 .group-purchase-a .swiper-slide a.btn-tuan:before {
  border-right-color: #ff8d00; }

.front-7 .group-purchase-a .swiper-slide a.btn-tuan:after {
  border-left-color: #ff8d00; }

.front-7 .goods_det_about li a:hover, .front-7 .login-form .login-tab a.checked,
.front-7 .tabmenu .tab .active a, .front-7 .tabmenu .tab .active a:hover,
.front-7 li.seles, .front-7 .bbc-main-layout .title {
  border-bottom-color: #ff8d00; }

.front-7 .discount-a-pri, .front-7 .platform-details div, .front-7 .coupon-details div,
.front-7 .ev_left ul li.check, .front-7 .tuan_go, .front-7 .goods_det_about li a.checked,
.front-7 .goods_det_about li a.checked, .front-7 .login-form .login-box .login-btn .btn-img,
.front-7 .brand_num .active, .front-7 .btn-operate, .front-7 .goods_ul_S li:hover, .front-7 .lift_item:hover,
.front-7 .lift_item_on, .front-7 .nch-sortbar-array .screen li.selected a,
.front-7 .gr_goods_list li:hover, .front-7 .infor-head-nav p a.active {
  border-color: #ff8d00; }

.front-7 .platform-details div em, .front-7 .coupon-details div em {
  background-color: #ff8d00;
  opacity: .5; }

.front-7 .gpc-special-goods-box, .front-7 .tab-text, .front-7 .page b, .front-7 .tracks-operate button, .front-7 .nch-sortbar-array .screen li.selected a,
.front-7 .bbc-memeber-pointcart a em {
  background-color: #ff8d00; }

.front-7 .gpc-special-goods-lists li {
  background: linear-gradient(to right, #ff8d00, #00ff38); }

.front-7 .btn-gpc-special-goods {
  background: linear-gradient(to right, #ff8d00, #c7ff00); }

.front-7 .joinin-info .tabs-nav li.tabs-selected {
  border-top-color: #ff8d00; }

.front-7 .tab-sub {
  background: #ff8d00;
  border-color: #ff8d00; }

.front-7 .hover_content {
  border-right-color: #ff8d00;
  border-bottom-color: #ff8d00; }

.front-7 .red, .front-7 .bbc_seller_color, .front-7 .container .mc ul li a.active, .front-7 .seller-a-link-red,
.front-7 .seller-a-link-blue {
  color: #ff8d00; }

.front-7 .bbc_seller_bg, .front-7 .dis_flag, .front-7 .bbc_seller_submit_btns, .front-7 .bbc_seller_btns, .front-7 .search-goods-list .close,
.front-7 .bbc_seller_btns1, .front-7 .bulk-drliver-btn, .front-7 .btn-icon-submit {
  background: #ff8d00; }

.front-7 a:hover.ncbtn-mini, .front-7 a:hover.ncbtn {
  background-color: #cc7100; }

.front-7 .image-list .image-item:hover .image-box {
  border-color: #ff8d00; }

.front-7 .bbc_img_btns {
  background: #ffbb66; }

.front-8 .bbc_color, .front-8 .activity-a h3, .front-8 h3.index-module-tit,
.front-8 .activity-a h3 > i, .front-8 h3.index-module-tit > i,
.front-8 .activity-a h3 em, .front-8 h3.index-module-tit em,
.front-8 .group-purchase-a .swiper-slide div.pri,
.front-8 .time-limit-a .swiper-slide div.time .iconfont,
.front-8 .platform-details p, .front-8 .platform-details p span, .front-8 .rmb,
.front-8 .platform-details div span.yq, .front-8 .coupon-details p, .front-8 .coupon-details p span, .front-8 .coupon-details div em,
.front-8 .coupon-details div span.yq, .front-8 .activity-a h3, .front-8 h3.index-module-tit, .front-8 .activity-a h3 em,
.front-8 h3.index-module-tit em, .front-8 .guess-like li p, .front-8 .count-down dl dt, .front-8 .count-down dl dd,
.front-8 .count-down i.iconfont, .front-8 .pri-color, .front-8 .al a:hover, .front-8 .tnav a:hover, .front-8 .tnav a.active,
.front-8 .gpc-special-goods-text p strong, .front-8 li.seles a, .front-8 .brand_num .active,
.front-8 .cr_xie_lia2_span2-1, .front-8 ._p strong, .front-8 .same_2, .front-8 .jiaoyizhognxin ._Color:hover,
.front-8 .sel_color, .front-8 .tabmenu .tab .active a, .front-8 .tabmenu .tab .active a:hover,
.front-8 .order_types a.currect, .front-8 .order_content a:hover, .front-8 .to_views:hover i.iconfont,
.front-8 .order_mess_one a i.iconfont, .front-8 .tracks_con_time_list ul li span, .front-8 .btn-operate,
.front-8 hover_leave h3 a, .front-8 .goods_ul_S li:hover a, .front-8 .joinin-index-step span.step i, .front-8 .reds,
.front-8 .tleft > ul > li.hover_leave h3 a, .front-8 .frame5 .mc span a,
.front-8 .goods-price em, .front-8 .coupon-a .swiper-slide a, .front-8 .common-color, .front-8 .infor-head-nav p a.active,
.front-8 .infor-nav-sel ul li.active span, .front-8 .infor-nav-sel ul li.active i,
.front-8 .bus_name .icon-icoshop {
  color: #008800; }

.front-8 .back_mall_index a:hover {
  color: #88ff88; }

.front-8 .nav_right .search-types li a {
  color: #008800; }

.front-8 .nav_right .search-types li.active a {
  background: #008800;
  color: #fff; }

.front-8 .nav_right input {
  border-color: #008800; }

.front-8 .ser, .front-8 .class_title, .front-8 .thead .tleft, .front-8 .hr-her, .front-8 .hd li.on, .front-8 .time-limit-a .swiper-slide div span,
.front-8 .activity-a h3 span, .front-8 .index-module-tit span, .front-8 .group-purchase-a .swiper-slide a.btn-tuan, .front-8 .bbc_btns,
.front-8 .bbc_btns, .front-8 .bbc_bg, .front-8 .login-form .login-box .login-btn .btn-img, .front-8 .channels a:hover, .front-8 .reds,
.front-8 .lift_item:hover, .front-8 .lift_item_on, .front-8 .bbc_bg_col, .front-8 .hova, .front-8 input.ui_state_highlight:hover,
.front-8 .infor-head-nav strong:before, .front-8 .cart_ft_lk, .front-8 .bbc_btns, .front-8 .save {
  background: #008800; }

.front-8 .group-purchase-a .swiper-slide a.btn-tuan:before {
  border-right-color: #008800; }

.front-8 .group-purchase-a .swiper-slide a.btn-tuan:after {
  border-left-color: #008800; }

.front-8 .goods_det_about li a:hover, .front-8 .login-form .login-tab a.checked,
.front-8 .tabmenu .tab .active a, .front-8 .tabmenu .tab .active a:hover,
.front-8 li.seles, .front-8 .bbc-main-layout .title {
  border-bottom-color: #008800; }

.front-8 .discount-a-pri, .front-8 .platform-details div, .front-8 .coupon-details div,
.front-8 .ev_left ul li.check, .front-8 .tuan_go, .front-8 .goods_det_about li a.checked,
.front-8 .goods_det_about li a.checked, .front-8 .login-form .login-box .login-btn .btn-img,
.front-8 .brand_num .active, .front-8 .btn-operate, .front-8 .goods_ul_S li:hover, .front-8 .lift_item:hover,
.front-8 .lift_item_on, .front-8 .nch-sortbar-array .screen li.selected a,
.front-8 .gr_goods_list li:hover, .front-8 .infor-head-nav p a.active {
  border-color: #008800; }

.front-8 .platform-details div em, .front-8 .coupon-details div em {
  background-color: #008800;
  opacity: .5; }

.front-8 .gpc-special-goods-box, .front-8 .tab-text, .front-8 .page b, .front-8 .tracks-operate button, .front-8 .nch-sortbar-array .screen li.selected a,
.front-8 .bbc-memeber-pointcart a em {
  background-color: #008800; }

.front-8 .gpc-special-goods-lists li {
  background: linear-gradient(to right, #008800, #002d88); }

.front-8 .btn-gpc-special-goods {
  background: linear-gradient(to right, #008800, #00885b); }

.front-8 .joinin-info .tabs-nav li.tabs-selected {
  border-top-color: #008800; }

.front-8 .tab-sub {
  background: #008800;
  border-color: #008800; }

.front-8 .hover_content {
  border-right-color: #008800;
  border-bottom-color: #008800; }

.front-8 .red, .front-8 .bbc_seller_color, .front-8 .container .mc ul li a.active, .front-8 .seller-a-link-red,
.front-8 .seller-a-link-blue {
  color: #008800; }

.front-8 .bbc_seller_bg, .front-8 .dis_flag, .front-8 .bbc_seller_submit_btns, .front-8 .bbc_seller_btns, .front-8 .search-goods-list .close,
.front-8 .bbc_seller_btns1, .front-8 .bulk-drliver-btn, .front-8 .btn-icon-submit {
  background: #008800; }

.front-8 a:hover.ncbtn-mini, .front-8 a:hover.ncbtn {
  background-color: #005500; }

.front-8 .image-list .image-item:hover .image-box {
  border-color: #008800; }

.front-8 .bbc_img_btns {
  background: #00ee00; }

.front-9 .bbc_color, .front-9 .activity-a h3, .front-9 h3.index-module-tit,
.front-9 .activity-a h3 > i, .front-9 h3.index-module-tit > i,
.front-9 .activity-a h3 em, .front-9 h3.index-module-tit em,
.front-9 .group-purchase-a .swiper-slide div.pri,
.front-9 .time-limit-a .swiper-slide div.time .iconfont,
.front-9 .platform-details p, .front-9 .platform-details p span, .front-9 .rmb,
.front-9 .platform-details div span.yq, .front-9 .coupon-details p, .front-9 .coupon-details p span, .front-9 .coupon-details div em,
.front-9 .coupon-details div span.yq, .front-9 .activity-a h3, .front-9 h3.index-module-tit, .front-9 .activity-a h3 em,
.front-9 h3.index-module-tit em, .front-9 .guess-like li p, .front-9 .count-down dl dt, .front-9 .count-down dl dd,
.front-9 .count-down i.iconfont, .front-9 .pri-color, .front-9 .al a:hover, .front-9 .tnav a:hover, .front-9 .tnav a.active,
.front-9 .gpc-special-goods-text p strong, .front-9 li.seles a, .front-9 .brand_num .active,
.front-9 .cr_xie_lia2_span2-1, .front-9 ._p strong, .front-9 .same_2, .front-9 .jiaoyizhognxin ._Color:hover,
.front-9 .sel_color, .front-9 .tabmenu .tab .active a, .front-9 .tabmenu .tab .active a:hover,
.front-9 .order_types a.currect, .front-9 .order_content a:hover, .front-9 .to_views:hover i.iconfont,
.front-9 .order_mess_one a i.iconfont, .front-9 .tracks_con_time_list ul li span, .front-9 .btn-operate,
.front-9 hover_leave h3 a, .front-9 .goods_ul_S li:hover a, .front-9 .joinin-index-step span.step i, .front-9 .reds,
.front-9 .tleft > ul > li.hover_leave h3 a, .front-9 .frame5 .mc span a,
.front-9 .goods-price em, .front-9 .coupon-a .swiper-slide a, .front-9 .common-color, .front-9 .infor-head-nav p a.active,
.front-9 .infor-nav-sel ul li.active span, .front-9 .infor-nav-sel ul li.active i,
.front-9 .bus_name .icon-icoshop {
  color: #000033; }

.front-9 .back_mall_index a:hover {
  color: #3333ff; }

.front-9 .nav_right .search-types li a {
  color: #000033; }

.front-9 .nav_right .search-types li.active a {
  background: #000033;
  color: #fff; }

.front-9 .nav_right input {
  border-color: #000033; }

.front-9 .ser, .front-9 .class_title, .front-9 .thead .tleft, .front-9 .hr-her, .front-9 .hd li.on, .front-9 .time-limit-a .swiper-slide div span,
.front-9 .activity-a h3 span, .front-9 .index-module-tit span, .front-9 .group-purchase-a .swiper-slide a.btn-tuan, .front-9 .bbc_btns,
.front-9 .bbc_btns, .front-9 .bbc_bg, .front-9 .login-form .login-box .login-btn .btn-img, .front-9 .channels a:hover, .front-9 .reds,
.front-9 .lift_item:hover, .front-9 .lift_item_on, .front-9 .bbc_bg_col, .front-9 .hova, .front-9 input.ui_state_highlight:hover,
.front-9 .infor-head-nav strong:before, .front-9 .cart_ft_lk, .front-9 .bbc_btns, .front-9 .save {
  background: #000033; }

.front-9 .group-purchase-a .swiper-slide a.btn-tuan:before {
  border-right-color: #000033; }

.front-9 .group-purchase-a .swiper-slide a.btn-tuan:after {
  border-left-color: #000033; }

.front-9 .goods_det_about li a:hover, .front-9 .login-form .login-tab a.checked,
.front-9 .tabmenu .tab .active a, .front-9 .tabmenu .tab .active a:hover,
.front-9 li.seles, .front-9 .bbc-main-layout .title {
  border-bottom-color: #000033; }

.front-9 .discount-a-pri, .front-9 .platform-details div, .front-9 .coupon-details div,
.front-9 .ev_left ul li.check, .front-9 .tuan_go, .front-9 .goods_det_about li a.checked,
.front-9 .goods_det_about li a.checked, .front-9 .login-form .login-box .login-btn .btn-img,
.front-9 .brand_num .active, .front-9 .btn-operate, .front-9 .goods_ul_S li:hover, .front-9 .lift_item:hover,
.front-9 .lift_item_on, .front-9 .nch-sortbar-array .screen li.selected a,
.front-9 .gr_goods_list li:hover, .front-9 .infor-head-nav p a.active {
  border-color: #000033; }

.front-9 .platform-details div em, .front-9 .coupon-details div em {
  background-color: #000033;
  opacity: .5; }

.front-9 .gpc-special-goods-box, .front-9 .tab-text, .front-9 .page b, .front-9 .tracks-operate button, .front-9 .nch-sortbar-array .screen li.selected a,
.front-9 .bbc-memeber-pointcart a em {
  background-color: #000033; }

.front-9 .gpc-special-goods-lists li {
  background: linear-gradient(to right, #000033, #330011); }

.front-9 .btn-gpc-special-goods {
  background: linear-gradient(to right, #000033, #220033); }

.front-9 .joinin-info .tabs-nav li.tabs-selected {
  border-top-color: #000033; }

.front-9 .tab-sub {
  background: #000033;
  border-color: #000033; }

.front-9 .hover_content {
  border-right-color: #000033;
  border-bottom-color: #000033; }

.front-9 .red, .front-9 .bbc_seller_color, .front-9 .container .mc ul li a.active, .front-9 .seller-a-link-red,
.front-9 .seller-a-link-blue {
  color: #000033; }

.front-9 .bbc_seller_bg, .front-9 .dis_flag, .front-9 .bbc_seller_submit_btns, .front-9 .bbc_seller_btns, .front-9 .search-goods-list .close,
.front-9 .bbc_seller_btns1, .front-9 .bulk-drliver-btn, .front-9 .btn-icon-submit {
  background: #000033; }

.front-9 a:hover.ncbtn-mini, .front-9 a:hover.ncbtn {
  background-color: black; }

.front-9 .image-list .image-item:hover .image-box {
  border-color: #000033; }

.front-9 .bbc_img_btns {
  background: #000099; }

.front-10 .bbc_color, .front-10 .activity-a h3, .front-10 h3.index-module-tit,
.front-10 .activity-a h3 > i, .front-10 h3.index-module-tit > i,
.front-10 .activity-a h3 em, .front-10 h3.index-module-tit em,
.front-10 .group-purchase-a .swiper-slide div.pri,
.front-10 .time-limit-a .swiper-slide div.time .iconfont,
.front-10 .platform-details p, .front-10 .platform-details p span, .front-10 .rmb,
.front-10 .platform-details div span.yq, .front-10 .coupon-details p, .front-10 .coupon-details p span, .front-10 .coupon-details div em,
.front-10 .coupon-details div span.yq, .front-10 .activity-a h3, .front-10 h3.index-module-tit, .front-10 .activity-a h3 em,
.front-10 h3.index-module-tit em, .front-10 .guess-like li p, .front-10 .count-down dl dt, .front-10 .count-down dl dd,
.front-10 .count-down i.iconfont, .front-10 .pri-color, .front-10 .al a:hover, .front-10 .tnav a:hover, .front-10 .tnav a.active,
.front-10 .gpc-special-goods-text p strong, .front-10 li.seles a, .front-10 .brand_num .active,
.front-10 .cr_xie_lia2_span2-1, .front-10 ._p strong, .front-10 .same_2, .front-10 .jiaoyizhognxin ._Color:hover,
.front-10 .sel_color, .front-10 .tabmenu .tab .active a, .front-10 .tabmenu .tab .active a:hover,
.front-10 .order_types a.currect, .front-10 .order_content a:hover, .front-10 .to_views:hover i.iconfont,
.front-10 .order_mess_one a i.iconfont, .front-10 .tracks_con_time_list ul li span, .front-10 .btn-operate,
.front-10 hover_leave h3 a, .front-10 .goods_ul_S li:hover a, .front-10 .joinin-index-step span.step i, .front-10 .reds,
.front-10 .tleft > ul > li.hover_leave h3 a, .front-10 .frame5 .mc span a,
.front-10 .goods-price em, .front-10 .coupon-a .swiper-slide a, .front-10 .common-color, .front-10 .infor-head-nav p a.active,
.front-10 .infor-nav-sel ul li.active span, .front-10 .infor-nav-sel ul li.active i,
.front-10 .bus_name .icon-icoshop {
  color: #db2c2c; }

.front-10 .back_mall_index a:hover {
  color: white; }

.front-10 .nav_right .search-types li a {
  color: #db2c2c; }

.front-10 .nav_right .search-types li.active a {
  background: #db2c2c;
  color: #fff; }

.front-10 .nav_right input {
  border-color: #db2c2c; }

.front-10 .ser, .front-10 .class_title, .front-10 .thead .tleft, .front-10 .hr-her, .front-10 .hd li.on, .front-10 .time-limit-a .swiper-slide div span,
.front-10 .activity-a h3 span, .front-10 .index-module-tit span, .front-10 .group-purchase-a .swiper-slide a.btn-tuan, .front-10 .bbc_btns,
.front-10 .bbc_btns, .front-10 .bbc_bg, .front-10 .login-form .login-box .login-btn .btn-img, .front-10 .channels a:hover, .front-10 .reds,
.front-10 .lift_item:hover, .front-10 .lift_item_on, .front-10 .bbc_bg_col, .front-10 .hova, .front-10 input.ui_state_highlight:hover,
.front-10 .infor-head-nav strong:before, .front-10 .cart_ft_lk, .front-10 .bbc_btns, .front-10 .save {
  background: #db2c2c; }

.front-10 .group-purchase-a .swiper-slide a.btn-tuan:before {
  border-right-color: #db2c2c; }

.front-10 .group-purchase-a .swiper-slide a.btn-tuan:after {
  border-left-color: #db2c2c; }

.front-10 .goods_det_about li a:hover, .front-10 .login-form .login-tab a.checked,
.front-10 .tabmenu .tab .active a, .front-10 .tabmenu .tab .active a:hover,
.front-10 li.seles, .front-10 .bbc-main-layout .title {
  border-bottom-color: #db2c2c; }

.front-10 .discount-a-pri, .front-10 .platform-details div, .front-10 .coupon-details div,
.front-10 .ev_left ul li.check, .front-10 .tuan_go, .front-10 .goods_det_about li a.checked,
.front-10 .goods_det_about li a.checked, .front-10 .login-form .login-box .login-btn .btn-img,
.front-10 .brand_num .active, .front-10 .btn-operate, .front-10 .goods_ul_S li:hover, .front-10 .lift_item:hover,
.front-10 .lift_item_on, .front-10 .nch-sortbar-array .screen li.selected a,
.front-10 .gr_goods_list li:hover, .front-10 .infor-head-nav p a.active {
  border-color: #db2c2c; }

.front-10 .platform-details div em, .front-10 .coupon-details div em {
  background-color: #db2c2c;
  opacity: .5; }

.front-10 .gpc-special-goods-box, .front-10 .tab-text, .front-10 .page b, .front-10 .tracks-operate button, .front-10 .nch-sortbar-array .screen li.selected a,
.front-10 .bbc-memeber-pointcart a em {
  background-color: #db2c2c; }

.front-10 .gpc-special-goods-lists li {
  background: linear-gradient(to right, #db2c2c, #66db2c); }

.front-10 .btn-gpc-special-goods {
  background: linear-gradient(to right, #db2c2c, #dba12c); }

.front-10 .joinin-info .tabs-nav li.tabs-selected {
  border-top-color: #db2c2c; }

.front-10 .tab-sub {
  background: #db2c2c;
  border-color: #db2c2c; }

.front-10 .hover_content {
  border-right-color: #db2c2c;
  border-bottom-color: #db2c2c; }

.front-10 .red, .front-10 .bbc_seller_color, .front-10 .container .mc ul li a.active, .front-10 .seller-a-link-red,
.front-10 .seller-a-link-blue {
  color: #db2c2c; }

.front-10 .bbc_seller_bg, .front-10 .dis_flag, .front-10 .bbc_seller_submit_btns, .front-10 .bbc_seller_btns, .front-10 .search-goods-list .close,
.front-10 .bbc_seller_btns1, .front-10 .bulk-drliver-btn, .front-10 .btn-icon-submit {
  background: #db2c2c; }

.front-10 a:hover.ncbtn-mini, .front-10 a:hover.ncbtn {
  background-color: #b51f1f; }

.front-10 .image-list .image-item:hover .image-box {
  border-color: #db2c2c; }

.front-10 .bbc_img_btns {
  background: #ea8383; }
